@import url("./styles.css");
@import url("./default.css");
@import url("./tl.css");

.home main .default:first-of-type img {
    max-width: 170px;
    /*margin-top: 50px;*/
}

.home header {
  margin-bottom: 0px;
}

.step main .content a:any-link {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 34px;
}

.content h1,
.content p {
  color: white;
  max-width: 600px;
  margin: auto !important;
  text-align: center;
}

.section-title {
  font-size: 22px;
}

main .content p {
  padding-top: 0em;
  font-size: 22px !important;
  line-height: 1.5;
}

.step main .content h1 {
  margin: 0px auto 0.4em auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home .appear .section-wrapper .default {
  max-width: 900px;
  width: 80%;
  margin: auto;
}

.home .default-nav li:first-of-type a {
  border-bottom: 1px solid #444;
  padding-bottom: 4px;
}

.step .appear .section-wrapper:first-of-type {
  max-width: 700px;
  margin: auto;
}

main > .section-wrapper:first-of-type h1 {
  /* font-size: 38px; */
  font-size: 34px;
  max-width: 670px;
  width: 95%;
  margin: auto;
  font-weight: 800;
}

main > .section-wrapper:first-of-type {
  text-align: center;
}

main > .section-wrapper:first-of-type br {
  display: none;
  max-width: 750px;
  width: 95%;
}

main > .section-wrapper:first-of-type p {
  max-width: 750px;
  margin: auto;
  font-size: 17px;
  line-height: 1.6;
  padding-top: 0.5em;
  color: #505050;
}

main .card .img {
  height: auto;
  padding-bottom: 56.25%;
}

main .steps {
  display: block;
}

main .card {
  width: 100%;
}

.section-wrapper {
  margin: auto;
}

.section-wrapper .default.steps {
  width: 100%;
  max-width: 930px;
}

.category-steps {
  width: 100%;
}

.category-steps .card {
  margin: auto;
  margin-bottom: 1em;
}

.category-steps .card p {
  font-size: 19px !important;
  padding-top: 0.5em;
}

.category-steps .card:last-of-type {
  margin-bottom: 0px;
}

.category-steps .card h4 {
  max-width: 200px;
}

.category-steps a {
  color: #505050 !important;
}

.icons {
  display: flex;
  margin-bottom: 10px;
}

.icons__item {
  max-width: 28px;
  width: 100%;
}

.icons__item:first-of-type {
  margin-right: 10px;
}

.section-title {
  padding-bottom: 15px;
}

.section-title h3 {
  font-weight: 600;
  color: #323232;
}

.step main .content h1 {
  border: none;
}

.steps .category-steps:nth-of-type(2) {
  margin-bottom: 4em;
}

.step main .skills p {
  padding-top: 0;
}

.category-steps .card h4 {
  font-size: 22px;
  font-weight: 600;
}

main .card a:any-link {
  padding: 6px 18px;
}

.step main .content h1 {
  font-weight: 800;
}

.step .learn {
  padding-top: 1.5em !important;
}

.step main .content .video {
  top: -1em;
  position: relative;
}

.step main .skill {
  margin: 0px 12px 0px 0px;
}

.skills h2 {
  margin-bottom: 42px;
}


.more-content--ete-image {
  position: relative;
}

.icon-set {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  display: flex;
}

.icon-set__item {
  width: 24px;
}

.icon-set__item:first-of-type {
  margin-right: 5px;
}

.icon-set__item img {
  width: 100%;
}



@media (max-width: 899px) {
  .video-wrapper {
    background: none !important;
  }
}


.learn {
  text-align: left;
}


.step main .skills img {
  width: 40px;
}

.step main .skills p {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0;
  margin-left: 20px;
}

.learn {
  margin: auto;
  display: flex;
  padding: 6em 0em 2em 0em;
  padding-top: 2em !important;
  flex-direction: column;
}

.skills h2 {
  margin-top: 0em;
  font-size: 28px;
}
.skill a {
  color: #1473E6;
  text-decoration: none;
}

.skills {
  display: inline-block !important;
  width: 80%;
  margin: auto;
}

.step main .skill {
  display: flex;
  width: auto;
  max-width: 100% !important;
  align-items: center;
}

.step .about-bio {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.2em;
  color: #505050;
}

.step.adobe-and-sticker-mule .about-bio {
  display: none;
}

.step.adobe-and-sticker-mule .learn {
  display: block;
}

.step.adobe-and-sticker-mule .skills {
  width: 100%;
}

.adobe-and-sticker-mule .steps .category-steps {
  margin-bottom: 0em !important;
}

.step main .skills {
  color: #505050;
}

.step .about-bio__inner {
  max-width: 236px;
  width: 70%;
  margin: auto;
  color: #505050;
}

.step .about-bio {
  margin-bottom: 3.22em;
}

.step main .skills p {
  font-size: 20px;
}

.home .about-bio__inner {
  align-items: center;
  color: #505050;
}

.about-bio img {
  max-width: 72px;
}

.about-bio h4 {
  margin: 0;
  font-size: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #323232;
}

.about-bio p {
  margin: 0.5em 0em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 19px !important;
  margin-bottom: 1em;
}

.home .bio {
  padding-top: 0.6em;
}

.must-haves__inner {
  color: #505050;
}

.home .bio-section {
  background: #f1f1f1;
  padding: 3em 0em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.step .bio {
  display: none;
}

.follow-link {
  display: flex;
  text-decoration: none;
  padding-bottom: 8px;
  align-items: center;
}

.follow-link p {
  margin: 0;
  margin-left: 8px !important;
  padding-bottom: 0em !important;
  font-size: 16px;
  color: #1473e6;
}

.more-content--ete {
  background-color: #282828;
  color: white;
  padding: 4em 0em;
}

.section-title--ete-more {
  font-size: 36px;
  margin-top: 0em;
}

.must-haves__inner {
  text-align: left;
  max-width: 1180px;
  width: 90%;
  margin: auto;
  padding-top: 2em;
  border-top: 1px solid #dddd;
  margin-top: 1em;
}

.must-haves__title {
  /* padding-bottom: 32px; */
  margin-bottom: 0;
  text-align: center;
}

.must-haves__copy {
  font-size: 18px;
  margin-top: 12px;
  padding-bottom: 32px;
  text-align: center;
}

.files-ete {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.file-ete--item {
  width: 50%;
  margin-bottom: 48px;
  text-align: center;
}

.file_image-ete {
  width: 80px;
  margin: auto;
}

.file_image-ete img {
  width: 100%;
}

.file-ete--item h4 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
}

.file-ete--item a {
  font-size: 14px;
  background: #1473e6;
  color: white;
  display: inline-block;
  padding: 0.7em 1.3em;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 800;
  padding: 6px 15px 8px 15px;
}

.file-ete--item a:hover {
  background: #0d66d0;
}

.more-content--ete-inner {
  width: 82%;
  max-width: 1180px;
  margin: auto;
  padding-top: 2em;
  justify-content: space-between;
}

.more-content--ete-item {
  display: inline-block;
  text-align: left;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  max-width: 400px;
}

.more-content--ete-item:first-of-type {
  margin-bottom: 2em;
}

.more-content--ete-item h4 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 8px;
  margin-top: 0.4em;
}

.more-content--ete-item p {
  font-size: 18px;
  line-height: 1.4;
}

.more-content--ete-item img {
  width: 100%;
}

.more-content--ete-image {
  width: 100%;
}

.more-content--ete-details {
  width: 100%;
}

.see-all-tutorials--ete {
  padding-top: 60px;
}

.see-all-tutorials--ete a {
  border: 2px solid currentColor;
  border-radius: 20px;
  padding: 7px 20px;
  text-decoration: none;
  color: currentColor;
  font-weight: 800;
  display: inline-block;
  font-size: 14px;
  transition: background 0.3s ease;
}

.icons_parent {
  display: flex;
  justify-content: center;
  padding-top: 51px;
}

.icons_parent__item {
  /* width: 64px; */
  width: 48px;
}

.icons_parent__item img {
  width: 100%;
}

.icons_parent__item:last-of-type {
  /* margin-left: 20px; */
  margin-left: 10px;
}

.skills h2 {
  text-align: center;
  font-size: 1.17em;
}

.about-bio__inner {
  display: flex;
}

.bio-image {
  margin-right: 20px;
}

@media (min-width: 560px) {
  .skills h2 {
    text-align: left;
  }

  .must-haves__title,
  .must-haves__copy {
    text-align: left;
  }

  .file-ete--item {
    display: flex;
    width: 50%;
    text-align: left;
  }

  .file_image-ete {
    width: 80px;
    margin: 0;
    margin-right: 24px;
  }
}
@media (min-width: 650px) {
  .learn {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1180px;
    width: 90%;
  }

  .must-haves__inner {
    width: 90%;
  }

  .bio {
    display: block;
  }

  .step .learn {
    padding-top: 3em !important;
  }

  .skills {
    width: 50%;
    justify-content: flex-start !important;
    margin: 0 !important;
  }

  .skills h2 {
    text-align: left;
    font-size: 1.4em;
  }


  .about-bio__inner {
    display: inline-block;
  }

  .bio-image {
    margin-right: 0px;
  }

  .step .about-bio {
    border-bottom: 0;
    max-width: 236px;
  }
  .about-bio p {
    font-size: 16px !important;
  }

  .step .about-bio__inner {
    margin: 0;
    width: auto;
  }

  .more-content--ete-inner {
    display: flex;
    margin: auto;
    padding-top: 2em;
    justify-content: space-between;
  }

  .more-content--ete-item {
    display: inline-block;
    width: 45%;
    text-align: left;
    justify-content: space-between;
    text-decoration: none;
    max-width: 400px;
  }

  .home .about-bio__inner {
    align-items: flex-start;
  }
}

.more-content--ete a {
  color: white !important;
}

.home .about-bio {
  margin: auto;
  max-width: 372px;
}

.home .about-bio__inner {
  display: flex;
  text-align: left;
}

.home .bio-content {
  margin-left: 32px;
}

.home .bio-content h4 {
  margin-top: 0em;
}

@media (min-width: 750px) {
  main > .section-wrapper:first-of-type h1 {
    font-size: 48px;
  }



  .step .bio {
    display: block;
  }

  .icons_parent__item {
    width: 64px;
    /* width: 48px; */
  }

  .icons_parent__item img {
    width: 100%;
  }

  .icons_parent__item:last-of-type {
    margin-left: 20px;
    /* margin-left: 10px; */
  }

  main > .section-wrapper:first-of-type p {
    font-size: 22px;
    padding-bottom: 0;
  }

  .category-steps .card p {
    font-size: 18px !important;
  }
  

  .section-title {
    font-size: 28px;
  }

  .home main > .section-wrapper:first-of-type br {
    display: block;
  }

  .category-steps {
    display: flex;
    justify-content: space-between;
  }

  .category-steps .card {
    margin-bottom: 0;
    width: 30%;
  }

}

@media(min-width: 900px) {
  main .card .text>div {
    height: auto !important;
  }

  main .card .text {
    height: auto !important;
  }
}

@media (min-width: 980px) {
  main .card .text {
    padding: 24px 32px;
  }

  .file-ete--item {
    width: 31%;
  }

  .step main .video-wrapper {
    max-width: 620px;
    width: 100%;
  }

  .step main .content .video {
    top: -1.3em;
  }
}

@media (min-width: 1080px) {
  .step main .video-wrapper {
    max-width: 720px;
    width: 100%;
  }

  .step main .content .video {
    top: -1em;
  }
  
  .more-content--ete-item {
      display: flex;
      width: 45%;
      text-align: left;
      justify-content: space-between;
      color: white;
      text-decoration: none;
      max-width: 100%;
    }
  
    .more-content--ete-image {
      width: 58%;
    }
  
    .more-content--ete-details {
      width: 38%;
    }
}

@media (min-width: 1240px) {
  .step main .video-wrapper {
    max-width: 920px;
    width: 100%;
  }

  .step main .content .video {
    top: -0.65em;
  }

  .learn {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1180px;
    width: 70%;
  }

  .must-haves__inner {
    width: 70%;
  }
}


@media(max-width: 600px) {
  .step main .content {
    width: 100%;
    padding: 0;
  }
  
  main h1 {
    padding: 20px 0px;
  }
  
  .step main .content h1 {
    font-size: 34px;
    font-weight: 800;
  }
  
  .step main .content p {
    font-size: 17px !important;
  }
  
  .step main .content .video,
  .step main .content h1,
  .step main .content p {
    width: 80%;
  }
  
  .step main .content .video .button svg {
    width: 70px;
    height: 70px;
  }
  
  .step main .video-wrapper {
    padding: 26px;
    padding-bottom: 56.25%;
    position: relative;
    margin: 1em 0em;
  }

  .step main .video-wrapper .video {
    position: absolute;
    top: 0; left: 10%;
    width: 80%; height: 80%;
    background-position: center;
  }

  .step main .video-wrapper .button {
    top: 50%;
    transform: translateY(-50%);
  }
  
}