<footer>
	<nav>
			<a class="button" id="back-step" href="./step?1">
				Back
			</a>
			<a class="button action" id="next-step" href="./step?3">
				Next
			</a>
	</nav>
</footer>


<script>
async function fetchSteps() {
    const resp=await fetch('steps.json');
    const json=await resp.json();
    return (Array.isArray(json) ? json : json.data);
}

async function setData() {
  const steps = await fetchSteps();
  const currentIndex = parseInt(window.location.search.split("?")[1]);
  var nextLink = document.querySelector('#next-step'); 
  var backLink = document.querySelector('#back-step');
  var nextURL = 'step?' + (currentIndex + 1);
  var backURL = 'step?' + (currentIndex - 1);
  //console.log("steps length is " + steps.length)
  //console.log("currentindex is " + currentIndex)
  
  if (currentIndex != 1 && currentIndex != steps.length) {
      backLink.setAttribute('href', backURL);
      nextLink.setAttribute('href', nextURL);	  
  }
  else if (currentIndex == 1) {
	  backLink.remove();
      nextLink.setAttribute('href', nextURL);	  
  }
  else if (currentIndex == steps.length && window.location.toString().indexOf('get-started') < 1) {
	  backLink.setAttribute('href', backURL);
	  backLink.innerHTML = 'Back';
      nextLink.setAttribute('href', 'https://creativecloud.adobe.com/apps/download/lightroom-classic');	  
      nextLink.innerHTML = 'Launch Lightroom Classic';
  }
  else if (currentIndex == steps.length && window.location.toString().indexOf('get-started') > 0) {
	  var advURL = window.location.toString().replace('get-started', 'dive-deep')
	  var advURL = advURL.replace(currentIndex, '1');
	  backLink.setAttribute('href', advURL);
	  backLink.innerHTML = 'Start intermediate tutorial';
      nextLink.setAttribute('href', 'https://creativecloud.adobe.com/apps/download/lightroom-classic');	  
      nextLink.innerHTML = 'Launch Lightroom Classic';	  
  }
}

setData();
</script>