<div class="more-cards-container">
  <div class="more-cards">

  </div>
</div>


<script>
async function fetchSteps() {
    const resp=await fetch('steps.json');
    const json=await resp.json();
    return (Array.isArray(json) ? json : json.data);
}

async function setData() {
  const steps = await fetchSteps();
  document.querySelector('main > div:last-of-type').classList.add('additional-cards');
  const currentIndex = window.location.search.split("?")[1];
  const parentElement = document.querySelector('.more-cards');
  let cards = '';
  for(let i = 0; i < steps.length; i++) {
      let url = window.location.href.split('?')[0] + '?' + (i + 1);
      if(i != currentIndex - 1 && i != (parseInt(currentIndex - 1) + 1) && i < 6) {
          cards += `
          <div class="more-cards__item">
              <a href="${url}">
                  <span class="more-cards__img">
                      <img src="${steps[i].Thumbnail}">
                  </span>

                  <span class="more-cards__details">
                      <h3>${steps[i].Title} - ${i}</h3>
                      ${steps[i].Description}
                  </span>
              </a>
          </div>
          `
      }
  }
  parentElement.innerHTML = cards;
}

setData();
</script>