<div class="redirect"></div>
<script>
  function initScript() {
    const body = document.getElementsByTagName('body')[0];
    const redirectParent = document.querySelector('.redirect').closest('.default');
    if(body.className.includes('home')) {
      const redirectUrl = redirectParent.querySelector('a').getAttribute('href');
      const pageUrl = window.location.origin;
      window.location.replace(pageUrl+redirectUrl.split('.com')[1]);
    } 
    if(body.className.includes('step')) {
      const redirectParent = document.querySelector('.redirect').closest('.default');
      const redirectUrl = redirectParent.querySelector('a').getAttribute('href');
      const step = window.location.search.split('?')[1];
      window.location.replace(redirectUrl+'step?'+step);
    }
    redirectParent.remove();
  }
  window.addEventListener('load', initScript)

</script>