<div class="form-container">
  <form action="">
    <div class="slide-form-container">
      <div class="slide-form-item active">
        <div class="question">
          <h1>We’d love your thoughts.</h1>
          <p>Please tell us about your experience using Creative Cloud Teams. Any feedback you would like to share is valuable.</p>
          <hr>
          <p class="field-title">Who did you purchase your Creative Cloud Teams license for? </p>
          <div class="radio-option">
            <input class="field" type="radio" id="myself" name="purchase-for" value="Myself"/>
            <label for="myself">Myself</label>
          </div>
          <div class="radio-option">
            <input class="field" type="radio" id="someone-else" name="purchase-for" value="Someone Else"/>
            <label for="someone-else">Someone else</label>
          </div>
          <div class="radio-option">
            <input class="field" type="radio" id="i-didnt-purchase" name="purchase-for" value="I didn't purchase this license"/>
            <label for="i-didnt-purchase">I didn't purchage this license.</label>
          </div>
        </div>
      </div>
  
      <div class="slide-form-item">
        <div class="question">
          <p class="field-title">Why did you choose Creative Cloud Teams over an individual Creative Cloud subscription?</p>
          <p class="check-box-subtitle">Select all that apply.</p>
          <div class="radio-option">
            <input class="field" type="checkbox" id="filmfestivals" name="whereshared" value="Film festival(s)"/>
            <label for="filmfestivals">Creative Cloud Teams seemed like a better deal for the price.</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="movietheater" name="whereshared" value="Movie theater"/>
            <label for="movietheater">I wanted specific services included in Creative Cloud Teams (ex., increased cloud storage, dedicated support).</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="filmfestivals2" name="whereshared" value="Film festival(s)"/>
            <label for="filmfestivals2">I expect to add more people to my Creative Cloud Teams plan in the future.</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="movietheater2" name="whereshared" value="Movie theater"/>
            <label for="movietheater2">I wanted the flexibility to transfer my license to a different person. </label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="movietheater2" name="whereshared" value="Movie theater"/>
            <label for="movietheater2">I don’t know the difference between Creative Cloud Teams and a Creative Cloud individual subscription.</label>
          </div>
          <div class="radio-option has-other">
            <input class="field other-option" type="checkbox" id="movietheater2" name="whereshared" value="Other"/>
            <label for="movietheater2">Other</label>
            <input type="text" class="other-option-input">
          </div>
        </div>
      </div>

      <div class="slide-form-item">
        <div class="question">
          <p class="field-title">Which Creative Cloud Teams benefits are most valuable to you?</p>
          <p class="check-box-subtitle">Select all that apply.</p>
          <div class="radio-option">
            <input class="field" type="checkbox" id="access-to-desktop-and-mobile" name="benefits-are-most-valuable" value="Access to desktop and mobile apps"/>
            <label for="access-to-desktop-and-mobile">Access to desktop and mobile apps</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="creative-services-including-fonts" name="benefits-are-most-valuable" value="Creative services, including Adobe Fonts and Behance"/>
            <label for="creative-services-including-fonts">Creative services, including Adobe Fonts and Behance</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="collaboration-and-integration-tools" name="benefits-are-most-valuable" value="Collaboration and integration tools"/>
            <label for="collaboration-and-integration-tools">Collaboration and integration tools</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="cloud-storage" name="benefits-are-most-valuable" value="Cloud storage"/>
            <label for="cloud-storage">Cloud storage</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="streamlined-management" name="benefits-are-most-valuable" value="Streamlined management"/>
            <label for="streamlined-management">Streamlined management for contract and licenses</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="advanced-security" name="benefits-are-most-valuable" value="Advanced security"/>
            <label for="advanced-security">Advanced security for documents and assets</label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="dedicated-tech-support" name="benefits-are-most-valuable" value="Dedicated tech support"/>
            <label for="dedicated-tech-support">Dedicated tech support 24/7 </label>
          </div>
          <div class="radio-option">
            <input class="field" type="checkbox" id="coaching-sessions-with-experts" name="benefits-are-most-valuable" value="Coaching sessions with experts"/>
            <label for="coaching-sessions-with-experts">Coaching sessions with experts</label>
          </div>
          <div class="radio-option has-other">
            <input class="field other-option" type="checkbox" id="benefits-option" name="benefits-are-most-valuable" value="Other"/>
            <label for="benefits-option">Other</label>
            <input type="text" class="other-option-input">
          </div>
        </div>
      </div>

      <div class="slide-form-item">
        <div class="question">
          <p class="field-title">How could Adobe make your Creative Cloud Teams experience better for you? </p>
          <p class="check-box-subtitle">Any feedback you have regarding purchasing, getting started, or using your plan is welcome. </p>
          <div class="text-el">
            <textarea name=""
            cols="30"
            rows="5"></textarea>
          </div>
        </div>
      </div>

    </div>

    <div class="panel">
      <div class="panel__item">
        <div class="form-sliders-btns">
          <button class="slide-btn prev" type="button">Back</button>
          <button class="slide-btn next" type="button">Next</button>
          <button type="submit" class="submit" style="display: none;">Submit</button>
        </div>
      </div>
      <div class="panel__item">
        <div class="indicator-crumb">
          <span class="indicator-current">0</span>
          <span>of</span>
          <span class="indicator-total">0</span> answered
        </div>
        <div class="progress-indicator">
          <span></span>
        </div>
      </div>
    </div>
  </form>
</div>



<script src="/components/en/slide-form.js"></script>