<div class="wg-form-container">
  <form action="" id="wg-form">
    <div class="input-el">
      <label for="name">
        First and Last Name
      </label>
      <input type="text" id="name">
    </div>
    <div class="input-el">
      <label for="email">
        Email Address
      </label>
      <input type="text" id="email">
    </div>
    <div class="text-el">
      <label for="what-did-you-hope-to-accomplish">
        What did you hope to accomplish with the product(s) in the trail period?
      </label>
      <textarea name="" id="what-did-you-hope-to-accomplish" cols="30" rows="10"></textarea>
    </div>
    <div class="radio-el">
      <label>Rate your trial experience on a scale of 1-5 (1=very bad and 5=very good). *</label>
      <div class="radio-option">
        <input type="radio" id="one" name="rating-trail" value="1">
        <label for="one">1 - very bad</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="two" name="rating-trail" value="2">
        <label for="two">2 - bad</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="three" name="rating-trail" value="3">
        <label for="three">3 - neutral</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="four" name="rating-trail" value="4">
        <label for="four">4 - good</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="five" name="rating-trail" value="5">
        <label for="five">5 - very good</label>
      </div>
    </div>
    <div class="text-el">
      <label for="what-did-you-hope-to-accomplish">
        Why did you choose the above rating?
      </label>
      <textarea name="" id="Why-did-you-choose-the-above-rating?" cols="30" rows="10"></textarea>
    </div>

    <div class="submit-el">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<script>
  const wgForm = document.querySelector('.wg-form-container');
  const formElement = document.querySelector('#wg-form');

  function setFormAction() {
    const formParent = wgForm.parentElement;
    formParent.querySelectorAll('a')[0].parentElement.remove();
    const actionUrl = formParent.querySelectorAll('a')[0].getAttribute('href');
    formElement.setAttribute('action', actionUrl)
  }

  setFormAction();

</script>