<div class="wg-form-container form-container">
  <form id="wg-form">
    <div class="wg-form-loader">
      <div class="wg-form-loader__indicator"></div>  
    <div>
  </form>
</div>


<script src="/components/en/forms.js"></script>
<script>
  const $formContainer = document.querySelector(".wg-form-container");
  const $form = document.getElementById("wg-form");
  

  async function formData() {
    const formType = document.querySelectorAll("main p");
    let formToUse = "";
    formType.forEach(function (text) {
      if (text.textContent.includes("<Form:") || text.textContent.includes("<form:")) {
        formToUse = text.textContent.split(":")[1].split(">")[0].trim();
        text.remove();
      }
    });
    const resp = await fetch(`${formToUse}.json`);
    const json = await resp.json();
    window.pages.dependencies.push(`${formToUse}.json`);
    return json;
  }


  /**
   * @param {string} label
   * label = string of form input
  */
  function inputSettings(label) {
    let visibleLabel = label;
    label = label.indexOf(' ') >= 0 ? label.split(' ').join('-').toLowerCase() : label.toLowerCase();
    label = label.indexOf("-*") >= 0 ? label.split('*')[0] : label;
    label = label.indexOf('-(') >= 0 ? label.split('(')[0] : label;
    let settings = {
      label: visibleLabel,
      label_clean: label,
      required: visibleLabel.indexOf("*") >= 0 ? "required" : '',
    }
    return settings;
  }



  async function createForm() {
    let formField = "";
    let output = await formData();
    
    window.location.hostname === "localhost" ? output = output : output = output.data;
  
    
    output.map(function (item) {
      let setup = inputSettings(item.label)        
      
      // INPUT TEXT || EMAIL
      if (item.type === "text" || item.type === "email") {
        formField += `
      <div class="input-el">
        <label for="${setup.label_clean}">${setup.label}</label>
        <input type="${item.type}" name="${setup.label_clean}" ${setup.required}/>
      </div>
      `;
      }

      // RADIO INPUTS
      if (item.type.includes("radio")) {
        let optionsAll = item.options.split(", ");
        let radioOption = "";

        optionsAll.forEach(function (option) {
          let optionCleanUp =  option.indexOf(" ") >= 0 ? option.split(" ").join("-") : option;
          radioOption += `
          <div class="radio-option">
            <input type="radio" id="${setup.label_clean}-${optionCleanUp.toLowerCase()}" name="${setup.label_clean}" value="${optionCleanUp.toLowerCase()}" required/>
            <label for="${setup.label_clean}-${optionCleanUp.toLowerCase()}">${option}</label>
          </div>
        `;
        });
        formField += `
          <div class="radio-el">
            <span>${item.label}</span>
            <div class="radio-options-parent">
              ${radioOption}
            </div>
          </div>
        `;
      }

      // CHECKBOXES
      if(item.type === "checkbox") {
        let checkbox_options = item.options.split(',')
        let options = "";
        checkbox_options.forEach(function(option) {
          let cleanOptionName = option.indexOf(' ') >= 0 ? option.split(' ').join('-').toLowerCase() : option.toLowerCase();
          options += `
            <div class="radio-option">
              <input type="checkbox" 
                id="${setup.label_clean}-${cleanOptionName.toLowerCase()}" 
                name="${setup.label_clean}"
                value="${setup.label_clean}-${cleanOptionName.toLowerCase()}"
              />
              <label for="${setup.label_clean}-${cleanOptionName.toLowerCase()}">${option}</label>
            </div>
          
          `
        })
        formField += `
          <div class="input-el">
            <span style="display: inline-block; padding-bottom: 8px;">${item.label}</span>
            ${options}
          </div>
        `
      }

      // TEXTAREA
      if(item.type === "textarea") {
        formField += `
          <div class="text-el">
            <label for="${setup.label_clean}">${item.label}</label>
            <textarea
              name="${setup.label_clean}"
              cols="30"
              rows="5"
              ${setup.required}></textarea>
          </div>
        `
      }
      
    });

    formField += `
    <div class="submit-el">
      <button type="submit">Submit</button>
    </div>`;
    document.getElementById("wg-form").innerHTML = formField;
  }

  setupForm({
      formId: 'wg-form'
    })

  async function instructor() {
    await createForm();
  }

  instructor();
</script>
