<div class="wg-form-container">
  <form id="wg-form"><h4 style="text-align: center;">Loading...</h4></form>
</div>
<script>
  const formsink =
    "https://prod-16.westus.logic.azure.com:443/workflows/4d317f2c976642d3b88f72824f2226a2/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1xfyAxzHXKLgOPNXWP_8JRIvdnaMwkOxQrv_OIze9KE";
  const $formContainer = document.querySelector(".wg-form-container");
  const $form = document.getElementById("wg-form");
  let sheet, thankyou;

  async function formData() {
    const formType = document.querySelectorAll("main p");
    let formToUse = "";
    formType.forEach(function (text) {
      if (text.textContent.includes("[form-type=")) {
        formToUse = text.textContent.split("=")[1].split("]")[0];
        text.remove();
      }
    });

    $formContainer.parentElement.querySelectorAll("a").forEach(($a) => {
      if ($a.textContent.toLowerCase() == "sheet") {
        sheet = $a.href;
        $a.parentElement.remove();
      }

      if ($a.textContent.toLowerCase() == "thank you") {
        thankyou = $a.href;
        $a.parentElement.remove();
      }
    });

    // window.pages.dependencies.push('kenny-form-test.json');
    const resp = await fetch(`${formToUse}.json`);
    const json = await resp.json();
    console.log(json)
    return json
  }


  /**
   * @param {string} label
   * label = string of form input
  */
  function inputSettings(label) {
    let visibleLabel = label;
    label = label.indexOf(' ') >= 0 ? label.split(' ').join('-').toLowerCase() : label.toLowerCase();
    label = label.indexOf("*") >= 0 ? label.split('*')[0] : label;
    let settings = {
      label: visibleLabel,
      label_clean: label,
      required: visibleLabel.indexOf("*") >= 0 ? "required" : '',
    }
    return settings;
  }



  async function createForm() {
    let formField = "";
    let output = await formData();
  
    console.log('here', output)
    output.map(function (item) {
      let setup = inputSettings(item.label)        
      

      // INPUT TEXT || EMAIL
      if (item.type === "text" || item.type === "email") {
        formField += `
      <div class="input-el">
        <label for="${setup.label_clean}">${setup.label}</label>
        <input type="${item.type}" name="${setup.label_clean}" ${setup.required}/>
      </div>
      `;
      }

      // RADIO INPUTS
      if (item.type.includes("radio")) {
        let optionsAll = item.options.split(", ");
        let radioOption = "";

        optionsAll.forEach(function (option) {
          let optionCleanUp =  option.indexOf(" ") >= 0 ? option.split(" ").join("-") : option;
          radioOption += `
          <div class="radio-option">
            <input type="radio" id="${setup.label_clean}-${optionCleanUp.toLowerCase()}" name="${setup.label_clean}" value="${optionCleanUp.toLowerCase()}" required/>
            <label for="${setup.label_clean}-${optionCleanUp.toLowerCase()}">${option}</label>
          </div>
        `;
        });
        formField += `
          <div class="radio-el">
            <span>${item.label}</span>
            <div class="radio-options-parent">
              ${radioOption}
            </div>
          </div>
        `;
      }

      // CHECKBOXES
      if(item.type === "checkbox") {
        let checkbox_options = item.options.split(',')
        let options = "";
        checkbox_options.forEach(function(option) {
          let cleanOptionName = option.indexOf(' ') >= 0 ? option.split(' ').join('-').toLowerCase() : option.toLowerCase();
          options += `
            <div class="radio-option">
              <input type="checkbox" 
                id="${setup.label_clean}-${cleanOptionName.toLowerCase()}" 
                name="${setup.label_clean}" 
              />
              <label for="${setup.label_clean}-${cleanOptionName.toLowerCase()}">${option}</label>
            </div>
          
          `
        })
        formField += `
          <div class="input-el">
            <span style="display: inline-block; padding-bottom: 8px;">${item.label}</span>
            ${options}
          </div>
        `
      }

      // TEXTAREA
      if(item.type === "textarea") {
        formField += `
          <div class="text-el">
            <label for="${setup.label_clean}">${item.label}</label>
            <textarea
              name="${setup.label_clean}"
              cols="30"
              rows="5"
              ${setup.required}></textarea>
          </div>
        `
      }
      
    });

    formField += `
    <div class="submit-el">
      <button type="submit">Submit</button>
    </div>`;
    document.getElementById("wg-form").innerHTML = formField;
  }

  function setupForm() {
    const values = [
      {
        name: "timestamp",
        value: new Date()
          .toISOString()
          .replace(/[TZ]/g, " ")
          .split(".")[0]
          .trim(),
      },
    ];

    $form.addEventListener("submit", async (evt) => {
      evt.preventDefault();
      if ($form.reportValidity()) {
        $form.querySelectorAll("input, textarea").forEach(($f) => {
          if ($f.getAttribute("type") != "radio" || $f.checked) {
            values.push({ name: $f.name, value: $f.value });
          }
        });

        const body = { sheet, data: values };
        const resp = await fetch(formsink, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(body), // body data type must match "Content-Type" header
        });
        const text = await resp.text();
        window.location = thankyou;
      }

      return false;
    });
  }

  async function instructor() {
    await createForm();
    await setupForm();
  }

  instructor();
</script>
