<div class="wg-form-container form-container">
  <form id="wg-form">
    <div class="wg-form-loader">
      <div class="wg-form-loader__indicator"></div>  
    <div>
  </form>
</div>


<script src="/components/en/forms.js"></script>
<script>
  const $formContainer = document.querySelector(".wg-form-container");
  const $form = document.getElementById("wg-form");
  

  async function formData() {
    const formType = document.querySelectorAll("main p");
    let formToUse = "";
    formType.forEach(function (text) {
      if (text.textContent.includes("<Form:") || text.textContent.includes("<form:")) {
        formToUse = text.textContent.split(":")[1].split(">")[0].trim();
        text.remove();
      }
    });
    const resp = await fetch(`${formToUse}.json`);
    const json = await resp.json();
    window.pages.dependencies.push(`${formToUse}.json`);
    return json;
  }


  /**
   * @param {string} label
   * label = string of form input
  */
  function inputSettings(label) {
    let visibleLabel = label;
    label = label.indexOf(' ') >= 0 ? label.split(' ').join('-').toLowerCase() : label.toLowerCase();
    label = label.indexOf("-*") >= 0 ? label.split('*')[0] : label;
    label = label.indexOf('-(') >= 0 ? label.split('(')[0] : label;
    let settings = {
      label: visibleLabel,
      label_clean: label,
      required: visibleLabel.indexOf("*") >= 0 ? "required" : '',
    }
    return settings;
  }

  function csvOrLinesToArray(input) {
    if (input.includes('\n')) {
      return input.split('\n').map(o => o.trim());
    } else {
      return input.split(',').map(o => o.trim());
    } 
  }



  async function createForm() {
    let formField = "";
    let formSubmitPresent = false;
    let output = await formData();
    
    window.location.hostname === "localhost" ? output = output : output = output.data;
  
    
    output.forEach((item) => {
      console.log(item)
      const setup = inputSettings(item.label);
      const name=item.name?item.name:setup.label_clean;        
      
      // INPUT TEXT || EMAIL
      if (item.type === "text" || item.type === "email") {
        formField += `
      <div class="input-el">
        <label for="${name}">${setup.label}</label>
        <input type="${item.type}" name="${name}" ${setup.required}/>
      </div>
      `;
      }

      // RADIO INPUTS
      if (item.type.includes("radio")) {
        let optionsAll = csvOrLinesToArray(item.options);
        let radioOption = "";

        optionsAll.forEach(function (option) {
          const cleanOptionName = toClassName(option);
          const id=name+'-'+cleanOptionName;
          const value=option.replace('"','');

          radioOption += `
          <div class="radio-option">
            <input type="radio" id="${id}" name="${name}" value="${value}" required/>
            <label for="${id}">${option}</label>
          </div>
        `;
        });
        formField += `
          <div class="radio-el">
            <span>${item.label}</span>
            <div class="radio-options-parent">
              ${radioOption}
            </div>
          </div>
        `;
      }

      // CHECKBOXES
      if(item.type === "checkbox") {
        let checkbox_options = csvOrLinesToArray(item.options);
        let options = "";
        checkbox_options.forEach(function(option) {
          const cleanOptionName = toClassName(option);
          const id=name+'-'+cleanOptionName;
          const value=option.replace('"','');

          options += `
            <div class="radio-option">
              <input type="checkbox" 
                id="${name}-${id}" 
                name="${name}"
                value="${value}";
              />
              <label for="$${id}">${option}</label>
            </div>
          
          `
        })
        formField += `
          <div class="input-el">
            <span>${item.label}</span>
            ${options}
          </div>
        `
      }


      // SELECT 
      if(item.type === "select") {
        let select_options = csvOrLinesToArray(item.options);
        let options = "";
        select_options.forEach(function(option) {
          options += `
            <option>${option}</option>
          `
        })
        formField += `
          <div class="select-el">
            <label style="display: inline-block; padding-bottom: 8px;" for="${name}">${item.label}</label>
            <select name="${name}" id="${name}">
              ${options}
            </select>
          </div>
        `
      }

      // TEXTAREA
      if(item.type === "textarea") {
        formField += `
          <div class="text-el">
            <label for="${name}">${item.label}</label>
            <textarea
              name="${name}"
              cols="30"
              rows="5"
              ${setup.required}></textarea>
          </div>
        `
      }

      // Submit Button
      if(item.type === "submit") {
        formField += `
          <div class="submit-el">
            <button type="submit">${item.label}</button>
          </div>
        `;
        formSubmitPresent=true;
      }

    });

    if (!formSubmitPresent) {
        formField += `
      <div class="submit-el">
        <button type="submit">Submit</button>
      </div>`;
    }
    document.getElementById("wg-form").innerHTML = formField;
  }

  setupForm({
      formId: 'wg-form'
    })

  async function instructor() {
    await createForm();
  }

  instructor();
</script>
