body {
    font-family: "Adobe Clean", "Source Sans Pro";
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

header div:first-of-type {
    background-color: #1473e6;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    padding: 8px
}

header div p {
    margin: 0;
}


header div:nth-of-type(2) {
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    font-weight: 100;
}

header svg {
    height: 2em;
    width: 2em;
}

header svg.icon-adobe {
  fill: #fa0f00; 
}

main {
    padding: 0px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

main.appear {
    opacity: 1;
}

main svg.icon {
    height: 2em;
    width: 2em;
    fill: currentColor;
}

main svg.icon.icon-behance {
    width: 4em;
}

.hidden {
    display: none;
}

.selected {
    background-color: #1473e6;
    color: white;
}


/* === Legal Footer Component === */
.legal-footer, a {
  text-align: center;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.legal-footer img {
  max-width: 29px;
}

.legal-footer ul {
  display: flex;
  margin: 0; padding: 0;
  list-style-type: none;
  justify-content: center;
}

.legal-footer li {
  padding: 0em 0.5em;
}

.legal-footer li:after {
  content: '/';
  position: relative;
  padding-left: 1em;
}

.legal-footer li:last-of-type:after {
  display: none;
}

.legal-footer a {
  text-decoration: none;
}

.legal-footer a:hover {
  color: black;
}

.legal-footer strong {
  font-weight: 300;
}

@media(min-width: 768px) {
  .legal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .legal-footer p:first-of-type {
    width: 24px;
    margin-right: 12px;
  }

  .legal-footer ul {
    margin-left: 10px;
  }


}

/* === End of Legal Footer Component === */