body {
    font-family: "Adobe Clean", "adobe-clean", sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

header>div:first-of-type {
    background-color: #1473e6;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    padding: 8px 0px;
}

header div p {
    margin: 0;
}

header {
    opacity: 0;
    transition: opacity 0.2s ease;
}

header.appear {
    opacity: 1;
}



header>div:nth-of-type(2)>div {
    background-color:white;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    font-size: 12px;
    font-weight: 100;
}

header svg {
    height: 2em;
    width: 2em;
}

header svg.icon-adobe {
  fill: #fa0f00; 
}


main {
  padding: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

.section-wrapper .default {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

main.appear {
    opacity: 1;
}

main svg.icon {
    height: 2em;
    width: 2em;
    fill: currentColor;
}

main svg.icon.icon-behance {
    width: 4em;
}

.hidden {
    display: none;
}

.selected {
    background-color: #1473e6;
    color: white;
}

main div.form {
    background-color: lightgrey;
    padding: 20px;
    margin: auto;
    font-size: 18px;
  }
  
  main div.form p {
    margin: 30px 0;
  }
  
  main div.form a:any-link {
    border-radius: 20px;
    background-color: #1473e6;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    display: block;
    text-align: center;
    cursor: pointer;
  }
  
  
  main div.form form {
    max-width: 600px;
    margin: auto;
    text-align: left;
  }
  
  main input[type=text], main textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin: 5px 0;
    font-size: 24px;
    font-family: "Adobe Clean";
  }
  
  main input[type=radio] {
    margin: 5px 0;
  }
  
  
footer {
    color: #777;
    font-size: 11px;
    padding: 2em;
    text-align: center;
  }

footer a:any-link {
    color: #4B4B4B;
    text-decoration: none;
  }
  
footer svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
  
footer ul {
    display: inline-flex;
    margin: 0; 
    padding: 0;
    list-style-type: none;
  }
  
  
footer li:after {
    content: '/';
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
  }
  
footer li:last-of-type:after {
    display: none;
  }
    
footer a:hover {
    color: black;
  }
  
footer p {
      display: inline-block;
      white-space: nowrap;
  }    

footer>div {
  display: inline-block;
  text-align: left;
}

footer p:after {
    content: '/';
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
  }

.privacy {
  margin-left: 10px;
}