body {
    font-family: "Adobe Clean", "Source Sans Pro";
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

header div:first-of-type {
    background-color: #1473e6;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    padding: 8px
}

header div p {
    margin: 0;
}


header div:nth-of-type(2) {
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    font-weight: 100;
}

header svg {
    height: 2em;
    width: 2em;
}

header svg.icon-adobe {
  fill: #fa0f00; 
}

main {
    padding: 0px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

main.appear {
    opacity: 1;
}

main svg.icon {
    height: 2em;
    width: 2em;
    fill: currentColor;
}

main svg.icon.icon-behance {
    width: 4em;
}

.hidden {
    display: none;
}

.selected {
    background-color: #1473e6;
    color: white;
}