@import url("form-default.css");
@import url("nav-default.css");
@import url("footer-default.css");

body {
	font-family: "Adobe Clean", "adobe-clean", sans-serif;
	margin: 0;
	padding: 0;
	color: #4a4a4a;
}
main {
	padding: 0px;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.2s ease;
}

main h1,
main .default > p {
	text-align: center;
}

main h1 {
	color: #323232;
}

body.form main p {
	font-size: 16px;
		line-height: 24px;
}

body.form main .default > p,
main h1 + p {
	color: #747474;	
}

body.form main .default > p {
	text-align: center;
	margin: 0 auto 24px;
	max-width: 600px;
}

.section-wrapper .default {
	max-width: 1400px;
	width: 95%;
	margin: auto;
}

main.appear {
		opacity: 1;
}