main div.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

main div.cards .card {
    width: 13em;
    padding: 0.5em;
    text-align: left;
}

main div.cards .card .video {
    line-height: 0;
}

main div.cards .card .text {
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 1em;
    font-size: 0.8em;
}

main div.cards .card .text .icon {
    height: 2em;
}
