.checklist-page main > .section-wrapper > div {
  max-width: 1400px;
  position: relative;
}

.clvideo-container {
  background-position: center;
  background-size: cover;
}

#ply-btn {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  outline: none;
  border-radius: 0px;
  border: none;
}

.cl-video-el {
  display: none;
}

main > .section-wrapper.clvideo-container{
  text-align: left;
  position: relative;
  padding-top: 3em;
}


.video-parent {
  padding-bottom: 61.7%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-iframe {
  height: 93%;
  width: 98%;
  top: 51%; left: 49%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-position: center;
  background-size: cover;
}

.video-iframe video {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.clvideo-container h1 {
  font-size: 36px;
  /* width: 60%; */
  width: 100%;
}

.clvideo {
  padding: 2em 0em;
  /* width: 60%; */
  width: 100%;
}

.clvideo > div:last-child h2 {
  margin: 1em 0em 1em 0em;
  padding-bottom: 0.5em;
  position: relative;
}

.clvideo > div > div:last-of-type {
  /* width: 60%; */
  width: 100%;
}

.clvideo > div:last-child h2:after {
  content: '';
  position: absolute;
  width: 345px;
  background: #4B4B4B;
  height: 4px;
  bottom: -10px;
  left: 0;
}


@media (min-width:924px)  { 

  .video-iframe {
    height: 93%;
    width: 98%;
    top: 51%; left: 48.9%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-position: center;
    background-size: cover;
  }

  .clvideo-container h1 {
    width: 60%;
  }
  
  .clvideo {
    width: 60%;
  }
  
  .clvideo > div > div:last-of-type {
    width: 60%;
  }
}

