.instructions {
  max-width: 450px;
  margin: auto;
  border: 4px solid #CCCCCC;
  border-radius: 10px;
  background: white;
  box-sizing: content-box;
}

.instructions > div {
  padding: 2em 2em;
}

.instructions > div > div:first-of-type {
  color: #FF9A00;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 20px;
  margin-top: 0;
  padding-bottom: 0.5em;
}