.video div div {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}

.video iframe {
    width: 100%;
    border: 0;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
