@import url("../default.css");


 header {
  background: #2E001F;
}

 header div:first-of-type {
  background: #2E001F;
}

 header svg {
  width: 100% !important;
  height: 100%;
}

 header p {
  margin: 0;
  width: 140px;
  display: inline-block;
  height: 30px;
}

 header .section-wrapper > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


 header ul {
  list-style-type: none;
  margin: 0; padding: 0;
  display: flex;
}

 header li {
  margin-left: 2em;
}

 header a {
  color: white;
  font-size: 15px;
  padding: 0.9em 0.6em;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
}

 header li:last-of-type a {
  background: #1473E6;
  border-radius: 40px;
  padding: 1em 1.3em;
  font-weight: 800;
}

 header svg {
    width: 100px !important;
    height: auto;
}

main .default {
  max-width: 960px;
  width: 90%;
  margin: auto;
}

main .section-wrapper {
  position: relative;
}

main .section-wrapper:first-of-type .default {
  padding: 3em 0em;
  font-weight: 100;
  font-size: 19px;
  color: black
}

main .section-wrapper:first-of-type .default h1 {
  margin-bottom: 0;
}

main .section-wrapper:first-of-type .default a {
  padding: 3em 0em;
  font-weight: 700;
  text-decoration: none;
  color: #1473E6;
}


.two-column-parent--background {
  padding: 3em 0em;
  /* position: relative; */
}
.two-column-parent--background .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-column-parent--background .card > div:first-of-type {
  width: 48%;
  text-align: left;
  position: relative;
  z-index: 4;
  font-weight: 100;
  line-height: 1.7;
}

.two-column-parent--background .card > div:first-of-type h3 {
  margin-bottom: 0;
  font-size: 32px;
  max-width: 500px;
  color: black;
}

.two-column-parent--background .card > div:first-of-type h5 {
  font-weight: 100;
  font-size: 18px;
  margin-top: 0;
  max-width: 550px;
}

.two-column-parent--background .card > div:nth-child(2) {
  width: 48%;
  text-align: center;
  position: relative;
  z-index: 4;
}

.two-column-parent--background .card > div:nth-child(2) * {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.two-column-parent--background p {
  margin: 0.5em 0 0 0;
}

.two-column-parent--background em {
  color: #aaa;
  font-style: normal;
}

.two-column-parent--background h4 {
  margin-top: 0.5em;
  line-height: 1.6;
  font-style: italic;
}


.two-column-parent--background .card > div:last-of-type {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.xd main .section-wrapper:last-of-type {
  background: #1E1E1E;
}