@import url("./styles.css");

main {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  
  main img, main video {
    max-width: 100%;
  }
  
  main h1 {
    font-size: 36px;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  header div:first-of-type {
    background: transparent;
  }
  
  
  main .default:first-of-type h1 {
    padding-top: 2em;
  }
  
  main .default:first-of-type p {
    padding-bottom: 2em;
    margin-top: 0;
  }
  
  main .default.form:first-of-type p {
      padding-bottom: 0;
  } 
  
  main ul.cards {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    list-style: none;
    max-width: 1100px;
  }
  
  main div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  main div.cards .card {
    max-width: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
  }
  
  main div.cards .card .text {
    padding: 20px;
    line-height: 1.7;
  }
  
  
  .premiere .cards {
    max-width: 1100px;
    margin: auto;
  }
  
  
  .premiere .cards .card .text {
    padding: 2em 1.4em;
  }
  
  .premiere .main-video .text {
    font-size: 18px;
    padding: 2em 4em;
  }
  
  main .default:first-of-type .card p:empty {
    display: none !important;
  }
  
  .premiere .main-video .video-thumb {
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  
  .premiere .main-video svg {
    position: absolute;
    z-index: 5;
    fill: white;
    background-color: #1473e6;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  
  .premiere .main-video .text h5 {
    font-size: 1.3em;
    margin-top: 0em;
    margin-bottom: 0.8em;
  }
  
  
  .premiere .cards .card {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    font-size: 17px;
    margin-bottom: 2em;
  }
  
  .premiere .cards .card h5 { 
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 1em;
  }
  
  .premiere .cards .card h5 + {
    color: green;
  }
  
  .card a {
    display:  block;
    margin-top: 1em;
  }
  
  @media(min-width: 700px) {
    .premiere .cards {
      display: flex;
    }
  
    .premiere .cards .card {
      width: 45%;
    }
  }
  
  @media(min-width: 800px) {
    .premiere .cards {
      display: flex;
    }
  
    .premiere .cards .card {
      width: 30%;
    }
  }
  main div.cards .card .text a:any-link {
    background-color: #1473e6;;
    padding: 8px 30px 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    margin-top: 2em !important;
  }
  
  main .main-video {
    max-width: 960px;
    width: 90%;
    margin: auto;
    border: 1px solid #ddd;
    margin-bottom: 3em;
  }
  
  
  main .main-video .card-text {
    padding: 1em 0em;
  }
  
  main .main-video p:first-of-type {
    font-weight: 800;
    font-size: 22px;
    margin: 0;
  }
  
  main .main-video a {
    top: 14px;
    position: relative;
    text-decoration: none;
    -webkit-appearance: none;
    outline: none;
    background: #1473e6;
    border-color: #1473e6;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    font-size: 14px;
    font-weight: 700;
    transition: background .13s ease-out,border-color .13s ease-out,color .13s ease-out,box-shadow .13s ease-out;
  }
  
  @media(min-width: 740px) {
    main ul.cards {
      grid-template-columns:  1fr 1fr;
    }
  }
  
  @media(min-width: 1000px) {
    main ul.cards {
      grid-template-columns:  1fr 1fr 1fr;
    }
  }
  
  main ul.cards li {
      border: 1px solid #ddd;
  }
  
  main ul.cards li .card-text{
    padding: 20px;
    font-size: 16px;
    text-align: left;
  }
  
  main .card-image > div {
    background: #eee;
  }
  
  main ul.cards li .card-text p:first-of-type {
    font-weight: 700;
    font-size: 18px;
  }
  
  main ul.cards li .card-text a:any-link {
    background-color: #1473e6;;
    padding: 8px 30px 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
  }
  
  main .card .video-thumb {
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 56.25%
  }
  
  main .card .video-thumb svg {
    fill: white;
    background-color: #1473e6;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  

  .additional-links {
    font-size: 14px;
  }

  .additional-links br {
    display: none;
  }

  .additional-links a {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    color: #1473e6;
  }

  .additional-links > div:first-of-type a {
    color: white;
    background: #1473e6;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 2em;
    font-weight: 800;
    text-decoration: none;
  }

  .additional-links p {
    padding-bottom: 0 !important; 
  }

  .additional-links  p:empty {
    margin: 0  !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
  }