main .section-metadata {
    display: none;
}

main .background-container {
    padding-top: var(--section-spacing-large);
    padding-bottom: var(--section-spacing-large);
    margin-top: var(--section-spacing-large);
}

main .background-container + .background-container,
main .background-container + .section-wrapper.embed-container {
    margin-top: 0;
}

main .background-container {
    background-color: var(--color-gray-100);
}

main .background-container .cards:last-child,
main .background-container .columns:last-child .columns-row:last-child {
    margin-bottom: var(--section-spacing-x-small);
}