* {
    box-sizing: border-box;
}

body {
    font-family: "Adobe Clean", "adobe-clean", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.6;
    font-size: 1.4em;
    color: #323232;

}

img {
    max-width: 100%;
}

main >.section-wrapper > div {
    max-width: 900px;
    width: 80%;
    margin: auto;
}

main h1 {
    font-weight: 700;
}

main a:any-link {
    color: #1473E6;
    text-decoration: none;
}

main .button {
    border-radius: 2em;
    padding: 0.5em 1.5em;
    font-weight: 800;
    display: inline-block;
    transition: background .3s ease;
}

main .button.primary {
    color: white;
    background-color: #1473e6;
}

main .button.secondary {
    border: 2px solid currentColor;
    color: currentColor;
}


footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0px;
}

footer > div:last-of-type {
    margin-left: 16px;
}

footer svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
}

footer a {
    color: #777;
    text-decoration: none;
}

footer a:hover {
    color: #444;
}

footer .section-wrapper > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .section-wrapper p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

footer .section-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0; padding: 0;
}

footer li {
    margin-bottom: 12px;
    position: relative;
}

footer li:before {
    content: '';
    position: relative;
}


@media(min-width: 768px) {
    footer {
        font-size: 11px;
        flex-direction: row;
    }
    
    footer > div:last-of-type {
        margin-left: 16px;
    }
    
    footer .section-wrapper > div {
        flex-direction: row;
    }
    
    footer .section-wrapper p {
        margin-bottom: 0px;
    }
    
    footer .section-wrapper ul {
        flex-direction: row;
    }
    
    footer li {
        margin-left: 16px;
        margin-bottom: 0px;
    }
    
    footer li:before {
        content: '/';
        margin-right: 16px;
        
    }
}