/* from /templates/default/default.css */
* {
	box-sizing: border-box;
}


:root {
  --light_gray: #F8F8F8;
	--light_blue: #E6EFFF;
	--spectrum_blue: #1473E6;
	--dark_gray: #323232;
}


body {
	font-family: "Adobe Clean", "adobe-clean", sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.6;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: unset;
}

header img {
	opacity: 0;
}

.loaded header.appear img {
	opacity: 1;
}

main > .section-wrapper > div {
	max-width: 900px;
	width: 80%;
	margin: 0em auto;
	padding: 2em 0em;
}

.section-wrapper.lg > div {
	max-width: 1240px;
}

.section-wrapper.md > div {
	max-width: 1040px;
}

.section-wrapper.left > div h1 {
	text-align: left;
}

.section-wrapper.left > div {
	text-align: left;
}

main .section-wrapper {
	color: #323232;
}

body.mission main  p {
	font-size: 22px !important;
}

main > .section-wrapper.dark {
	color: white;
	background: #282828;
}

main > .section-wrapper.lightgray {
	background: var(--light_gray);
}

main > .section-wrapper.dark .button.secondary {
	border-color: white;
	color: white;
}

main > .section-wrapper.dark h1 {
	color: white;
}

h1,h2,h3,h4,h5 {
	margin-top: 0;
	line-height: 1.4;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

main .textdarkgray {
  color: var(--dark_gray);
}

main .section-wrapper:first-of-type p {
	font-size: 20px;
	color: #747474;
}

main .section-wrapper p:last-of-type {
	margin-bottom: 0em;	
}

main p {
	font-size: 1em;
}

main .section-wrapper h1:not(#headline-for-an-h1){
	margin-bottom: 0;
}

main a:any-link {
	color: #1473e6;
	text-decoration: none;
}

main .button {
	border-width: 2px;
	border-style: solid;
	border-radius: 16px;
	min-height: 32px;
	height: auto;
	min-width: 72px;
	padding: 4px 14px;
	padding-bottom: 4.5px;
	padding-top: 3.5px;
	font-size: 14px;
	font-weight: 700;
	transition: background .13s ease-out, border-color .13s ease-out, color .13s ease-out, box-shadow .13s ease-out;
  line-height: 1.3;
  -webkit-appearance: none;
}

main .button.primary.large {
  font-style: normal;
  border-radius: 50px;
  padding: 14px 40px;
	font-size: 16px;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

main .button.primary {
	background-color: #1473e6;
	border-color: #1473e6;
	color: #fff;
}

main .button.primary:hover {
	background-color: #0d66d0;
	border-color: #0d66d0;
	color: #fff;
}

main .button.secondary {
	background-color: transparent;
	border-color: #505050;
	color: #505050;
}

main .button.secondary:hover {
	background-color: #505050;
	border-color: #505050;
	color: #fff;
}

main .icon,
main .icon > img {
	height: 48px;
}

main ol, main ul {
	text-align: left;
	margin: auto;
	display: inline-block;
}

footer {
	font-size: 14px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 32px 0px;
}

footer > div:last-of-type {
	margin-left: 16px;
}

footer svg {
	fill: currentColor;
	height: 1em;
	width: 1em;
}

footer a {
	color: #4B4B4B;
	text-decoration: none;
}

footer a:hover {
	color: #999999;
}

footer .section-wrapper > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

footer .section-wrapper p {
	margin: 0;
	color: #4B4B4B;
	padding: 0;
	margin-bottom: 12px;
}

footer .section-wrapper ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin-bottom: 12px;
	position: relative;
}

footer li:before {
	content: '';
	position: relative;
}

footer li:after {
	display: none;
}


.mission .nav {
	border-bottom: 1px solid #ddd;
}

.mission .nav a {
	color: #FF9A00 !important;
}


@media(min-width: 599px) {
	h1,h2,h3,h4,h5 {
		margin-top: 0;
		line-height: 1.4;
	}
	
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 35px;
	}
	
	h3 {
		font-size: 31px;
	}
	
	h4 {
		font-size: 28px;
	}
	
	h5 {
		font-size: 26px;
	}
}

@media (min-width: 992px) {

	h1 {
		font-size: 46px;
	}
	
	h2 {
		font-size: 41px;
	}
	
	h3 {
		font-size: 36px;
	}
	
	h4 {
		font-size: 34px;
	}
	
	h5 {
		font-size: 32px;
	}

	footer {
		font-size: 11px;
		flex-direction: row;
	}

	footer > div:last-of-type {
		margin-left: 16px;
	}

	footer .section-wrapper > div {
		flex-direction: row;
	}

	footer .section-wrapper p {
		margin-bottom: 0px;
	}

	footer .section-wrapper ul {
		flex-direction: row;
	}

	footer li {
		margin-left: 16px;
		margin-bottom: 0px;
	}

	footer li:before {
		content: '/';
		margin-right: 16px;
	}
}

.documentation main {
	text-align: left;
}

.documentation.getting-started main > div:first-of-type {
	text-align: center;
}