main div.block.cardcallouttitle {
	visibility: unset;
}

.downloadcardstitle h2 {
  font-size: 22px;
  font-weight: 400;
}

.downloadcardstitle a {
  border: none;
  border-radius: 0px;
  padding: 0;
  font-size: 18px;
  border-bottom: 1px solid #444;
}

.downloadcardstitle a:hover {
  background-color: transparent !important;
  color: #444 !important;
}