main .images {
    max-width: var(--max-width-block);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

main .images-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .images > div {
    display: block;
}

main .images > div > div {
    display: flex;
}

main .images > div > div > *:not(:last-child) {
    margin-right: 32px;
}

main .images picture {
    display: block;
}

main .images p {
    max-width: 800px;
    padding-bottom: 0;
}

main .images h1,
main .images h2,
main .images h3,
main .images h4,
main .images h5,
main .images span.detail {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

main .images svg.icon {
    height: 28px;
    transition: filter 0.3s;
    display: inline-block;
    fill: currentColor;
    width: 28px;
    margin: 4px 8px;
    color: #adadad;
}

main .images a svg.icon:hover {
    filter: brightness(0.7);
}

main .images p.icon-container,
main .images p.icon-container a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #adadad;
    padding-bottom: 0;
}

@media screen and (max-width: 900px) {
    main .images > div > div > *:not(:last-child) {
        margin-right: 8px;
    }
}