@import url('./sideBar.css');

body {
  background: #000;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
@media (max-width: 1000px) {
  body {
    font-size: .95em;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  height: 90px;
  font-size: 1.3em;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}
.logo * {
  filter: drop-shadow(0 0 2rem rgba(255, 255, 255, .4));
}
.logo img {
  height: 2em;
  margin-right: .5em;
}

@media (max-width: 1000px) {
  header {
    font-size: 1rem;
    height: 50px;
    padding: .8em;
    position: relative;
  }
}

footer {
  opacity: 0.5 !important;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
footer,
footer * {
  color: white !important;
}
@media (max-width: 1000px) {
  footer {
    position: relative;
    flex-direction: column;
  }
}

main {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 80px;
}
@media (max-width: 1000px) {
  main {
    width: 100vw;
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
  }
}
main > *,
.section-wrapper,
.quickactions-container {
  position: relative;
  width: 100%;
  height: 100%;
}

main > .section-wrapper > div {
  position: relative;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  display: block;
  padding: 0;
}

@media (max-width: 1000px) {
  main > .section-wrapper > div {
    width: 100%;
  }
}

div .quickactions {
  visibility: unset;
  position: relative;
  display: grid;
  grid-gap: 5em;
  gap: 5em;
  align-items: center;
  grid-template-columns: 38% 1fr;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 2rem calc(min(9vw, 8rem));
}

@media (max-width: 1000px) {
  div .quickactions {
    display: flex;
    justify-content: stretch;
    flex-direction: column-reverse;
    height: 100%;
    max-height: 100%;
    padding: 0;
    gap: 0;
  }
}

div .quickactions > * {
  position: relative;
  z-index: 2;
}

.quickactions .quickactions__video-area{
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  height: 0;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
div .quickactions video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-shrink: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (max-width: 1000px) {
  div .quickactions video {
    width: 100%;
    max-height: 100%;
    background-size: cover;
  }
}

.quickactions__background {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120vw;
  height: 120vh;
  z-index: 1;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  filter: blur(15px) brightness(0.4) saturate(1.6);
  transition: background-image 0.5s ease-in-out;
}

.quickactions__mobile-content {
  width: 100%;
  display: none;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .quickactions__mobile-content {
    text-align: left;
    flex-shrink: 1;
    overflow-y: auto;
    display: block;
    font-size: 14.5px !important;
    padding: 1em;
    padding-bottom: 2em;
  }
  .quickactions__mobile-content h1,
  .quickactions__mobile-content h2,
  .quickactions__mobile-content h3,
  .quickactions__mobile-content h4,
  .quickactions__mobile-content h5,
  .quickactions__mobile-content h6 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: .6rem;
    color: white !important;
  }
  .quickactions__mobile-content p {
    margin-top: 0;
    font-size: 14.5px !important;
    color: white !important;
  }
  .quickactions__mobile-content .button {
    display: none;
  }
}
