footer {
    font-size: unset;
    display: block;
    padding: 0;
    border: none;
}

footer > div,
footer > div:last-child,
footer > div:first-child {
    margin: 0;
    display: block;
}

footer .footer-container .footer {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    max-width: var(--max-width-block);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--section-spacing-large);
    padding-bottom: var(--section-spacing-large);
}

footer .footer-container .footer .icon {
    max-height: 50px;
    transition: filter 0.3s;
}

footer .footer-container .footer a .icon:not(.icon-stock-logo-dark):hover {
    filter: brightness(0.7);
}

footer .footer-container .footer .icon.icon-adobe-logo-vertical,
footer .footer-container .footer .icon.icon-adobe-logo-vertical svg {
    max-height: 60px;
}

footer .footer-container .footer .icon.icon-stock-logo-dark {
    margin-right: 70px;
}

footer .footer-container .footer > div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 799px) {
    footer .footer-container .footer {
        padding-top: var(--section-spacing);
        padding-bottom: var(--section-spacing);
    }
    footer .footer-container .footer > div {
        flex-wrap: wrap;
    }
    footer .footer-container .footer .icon.icon-stock-logo-dark {
        margin-right: 0;
    }
    
    footer .footer-container .footer > div > div {
        margin: 18px 0;
    }
    footer .footer-container .footer > div > div:first-child {
        margin-top: 0;
    }
    footer .footer-container .footer > div > div:last-child {
        margin-bottom: 0;
        padding-top: 10px;
    }
}

footer .footer-container .footer > div > div {
    width: 100%;
    text-align: center;
}

footer .footer-container a,
footer .footer-container img,
footer .footer-container svg {
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 0;
    margin: 0;
    min-height: 50px;
}

footer .footer-container p.icon-container {
    padding-top: 8px;
}

footer .footer-container p.icon-container, 
footer .footer-container p.icon-container a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #9f9f9f !important;
    padding-bottom: 0;
}

footer .footer-container p.icon-container svg.icon {
    width: 40px;
    height: auto;
    margin: 0 8px;
}


/* Footer copyright section */

footer > div.footer-copyright {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 0px;
    border-top: 1px solid #DEDEDE;
}

footer > div.footer-copyright:empty {
    display: none;
}

footer .footer-copyright > div:last-child {
    margin-left: 16px;
}

footer .footer-copyright svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
}

footer .footer-copyright a {
    color: #4B4B4B;
    text-decoration: none;
}

footer .footer-copyright a:hover {
    color: #999999;
}

footer .footer-copyright > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .footer-copyright p {
    margin: 0;
    color: #4B4B4B;
    padding: 0;
    margin-bottom: 12px;
}

footer .footer-copyright ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .footer-copyright li {
    margin-bottom: 12px;
    position: relative;
}

footer .footer-copyright li:before {
    content: '';
    position: relative;
}

footer .footer-copyright li:after {
    display: none;
}

@media (min-width: 992px) {
    footer > div.footer-copyright {
        font-size: 11px;
        flex-direction: row;
    }

    footer .footer-copyright > div:last-child {
        margin-left: 16px;
    }

    footer .footer-copyright > div:first-child {
        flex-direction: row;
    }

    footer .footer-copyright p {
        margin-bottom: 0px;
    }

    footer .footer-copyright ul {
        flex-direction: row;
    }

    footer .footer-copyright li {
        margin-left: 16px;
        margin-bottom: 0px;
    }

    footer .footer-copyright li:before {
        content: '/';
        margin-right: 16px;
    }
}
