footer .footer-container .footer {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: var(--gutter-laptop);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--section-spacing-large);
    padding-bottom: var(--section-spacing-large);
}

footer .footer-container .footer .icon {
	max-height: 50px;
}


/* Footer copyright section */

footer .footer-copyright {
	font-size: 14px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 32px 0px;
    border-top: 1px solid #DEDEDE;
}

footer .footer-copyright > div:last-child {
	margin-left: 16px;
}

footer .footer-copyright svg {
	fill: currentColor;
	height: 1em;
	width: 1em;
}

footer .footer-copyright a {
	color: #4B4B4B;
	text-decoration: none;
}

footer .footer-copyright a:hover {
	color: #999999;
}

footer .footer-copyright > div:first-child {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

footer .footer-copyright p {
	margin: 0;
	color: #4B4B4B;
	padding: 0;
	margin-bottom: 12px;
}

footer .footer-copyright ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer .footer-copyright li {
	margin-bottom: 12px;
	position: relative;
}

footer .footer-copyright li:before {
	content: '';
	position: relative;
}

footer .footer-copyright li:after {
	display: none;
}

@media (min-width: 992px) {
	footer .footer-copyright {
		font-size: 11px;
		flex-direction: row;
	}

	footer .footer-copyright > div:last-child {
		margin-left: 16px;
	}

	footer .footer-copyright > div:first-child {
		flex-direction: row;
	}

	footer .footer-copyright p {
		margin-bottom: 0px;
	}

	footer .footer-copyright ul {
		flex-direction: row;
	}

	footer .footer-copyright li {
		margin-left: 16px;
		margin-bottom: 0px;
	}

	footer .footer-copyright li:before {
		content: '/';
		margin-right: 16px;
	}
}