@import 'icon-cheat-sheet.css';
@import 'image-comparison.css';
body {
	font-family: Adobe Clean, sans-serif;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}
body > header,
body > footer {
	display: none !important;
}
h1 {
	padding: 1.25em 0 0 1.25em;
	margin: 0;
	color: #111;
}
h2 {
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 1.25em 0 0;
	color: #111;
}
p {
	font-size: 0.85em;
	line-height: 1.25em;
	color: #666;
	font-weight: 300;
}
h2 + p {
	margin-top: 0;
}
#request-form {
	width: 33.33%;
	padding: 0 2.5em;
	position: absolute;
	height: 100%;
	left: 0;
	top: 5em;
}
form {
	position: relative;
	padding: 0;
}
#form-section-1,
#form-section-2 {
	position: absolute;
	top: 0;
	left: 0;
}

#form-section-2 {
	display: none;
}
main textarea {
	border: 1px solid #ddd;
	font-size: 1em;
}

::-webkit-input-placeholder { /* Chrome */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #999;
  opacity: 1;
}
::placeholder {
	 color: #999;

}

form > div input {
	font-family: Adobe Clean, sans-serif;
	border: 1px solid #ddd;
	font-size: 100%;
}
form ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}
form ul li {
	display: block;
	list-style: none;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	cursor: pointer;
	width: 9vw;
	margin-bottom: 0.5vw;
	text-align: center;
	padding-top: 5vw;
}
form ul li#ccd-banner {
	background: url('/media_168cf87767374ef7ad04462717c706979052f8458.jpeg') top center no-repeat;
	background-size: contain;
}
form ul li#email {
	background: url(/media_172ba161acf3850703de423dfbf5920106b963262.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#web-landing-page {
	background: url(/media_1b27edd857bb9b54f263863fc9ff2cca4e57cdd88.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#in-app-home-banner {
	background: url(/media_107a9ae4274b89689b7ab12f348dc8176a7210c55.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#in-app-launchpad {
	background: url(/media_18ee574ca3de198aa81d18e61491582ce087c5dab.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#in-app-pancake {
	background: url(/media_1ba4d23168a22dbf2743aa9efe11ba8eac5bfcc5e.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#dtn {
	background: url(/media_1505c82f0eb046ec1a66e6881a06d2aa28529b17e.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#paid-social {
	background: url(/media_17c5fc6b11e99b3b10c3617c5e9591af6ed38bd62.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li#other {
	background: url(/media_1022b9ad9f1a9d61946ba934e01987cdfd711cec9.jpeg) top center no-repeat;
	background-size: contain;
}
form ul li:hover {
	border-color: #ccc;
	background-color: #fafafa;
}
form ul li div {
	padding: 0.3125em 0.3125em 0 0.3125em;
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
form ul li div input {
	display: block;
	width: 3.75em;
	margin: 0 auto;
	border: 1px solid #ddd;
}
main input[type=text] {
	border: 1px solid #ddd;
	border-radius: 0.3125em;
}
form ul li label {
	padding: 1.25em;
	display: block;
	font-size: 0.85em;
}
form ol {
	padding: 0;
	list-style: none;
}
#timeline {
	background: #fafafa;
	width: 66.66%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	padding: 2.5em;
}
#calendar {
	width: 100%;
	height: 100%;
	position: relative;
}
input[type=button],
input[type=submit] {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1473e6;
    border-color: #1473e6;
    color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 4.5px;
    padding-top: 3.5px;
    font-size: 14px;
    font-weight: 700;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    box-sizing: border-box;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: visible;
    margin: 0;
    border-style: solid;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: button;
    vertical-align: top;
    transition: background .13s ease-out,border-color .13s ease-out,color .13s ease-out,box-shadow .13s ease-out;
    text-decoration: none;
    line-height: 1.3;
    cursor: pointer;
    font-family: Adobe Clean, sans-serif;
}

#modal {
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

#modal-content {
	width: 45em;
	height: 50%;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 25%;
	margin: 0 0 0 -22.5em;
	padding: 2.5em;
	border-radius: 0.3125em;
}

#modal-content h2 {
	font-size: 2.5em;
	font-weight: bold;
	color: #111;
	margin: 0 0 0.625em 0;
}

#modal-content label,
#modal-content input {
	font-size: 100%;
	font-size: 1.25em;
	margin: 1.25em auto 0 auto;
}

#modal-content p {
	font-size: 1em;
	line-height: 1.25em;
	color: #777;
	max-width: 30em;
	margin: 0.625em 0 0 0;
}

#modal-content input[type=text] {
	max-width: 20em;
}

#modal-content input[type=submit] {
	-ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
    justify-self: center;
}

