@import url("./styles.css");

body {
	text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

*,
button,
input,
textarea,
select {
	box-sizing: border-box;
}

em {
	font-style: italic;
}

main a,
main a:visited {
	color: #1473E6;
	text-decoration: none;
}

main a:hover {
	color: #0D66D0;
	text-decoration: underline;
}

a,
a:hover,
.default > p > a:only-child,
.section-wrapper > p > a:only-child,
#name-email-form input[type=submit]:hover,
.default > p > a:only-child:hover,
.section-wrapper > p > a:only-child:hover {
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    transition: all 0.3s cubic-bezier(0, 0, 0.40, 1);
}

main .section-wrapper {
	padding: 40px;
}

main .section-wrapper:nth-child(even) {
	background: #f5f5f5;
}

main h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
	text-align: left;
}

main h2 {
	text-align: left;
	font-size: 27px;
	line-height: 30px;
	margin: 0 0 45px 0;
}

main .default > p {
	max-width: 928px;
	margin: 0 auto 20px auto;
	color: #707070;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
}

.section-wrapper:last-child .default > h2 {
	margin: 0 0 20px 0;
}

.default > p > a:only-child,
.section-wrapper > p > a:only-child {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1473E6;
	border: none;
	padding: 0 20px;
	text-decoration: none;
	margin-top: 20px;
}

#name-email-form input[type=submit]:hover,
.default > p > a:only-child:hover,
.section-wrapper > p > a:only-child:hover {
	background: #0D66D0;
}


/* white nav */

header .icon {
	width: 40px;
}

.default-nav>div:first-of-type {
	background: #fff;
}

.premiere .default-nav a {
	color: #2c2c2c;
}

.premiere .default-nav li:hover {
    background: #F5F5F5;
}

.premiere .carrot svg {
	stroke: #2c2c2c;
	height: 1.25em;
    width: 1.25em;
    margin: 0 0 0 1em;
}

header li {
	padding: 0;
}

header p:only-of-type a {
	font-size: 16px;
}

header li a {
	display: block;
	padding: 20px 16px;
}

/* cards */

main .card {
  	width: 100%;
  	margin: 0 0 40px 0;
  	background: #fff;
  	border-radius: 4px;
  	border: 1px solid #EAEAEA;
	color: #707070;
	font-size: 16px;
	line-height: 20px;
}

main .card img {
	display: block;
	width: 100%;
}

main .card div:last-child {
	border-top: 1px solid #EAEAEA;
	padding: 40px;
}

main .card h3 {
  	font-size: 20px;
  	line-height: 25px;
  	margin: 0 0 10px 0;
  	color: #2C2C2C;
}





/* desktop specific styles */

@media only screen and (min-width: 769px) {
	
	main h1 {
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		margin-top: 0;
	}
	
	main h2 {
		text-align: center;
		font-size: 36px;
		line-height: 45px;
	}
	
	main .default > p {
		max-width: 928px;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
	}
	
	main .cards {
	  display: flex;
	  flex-wrap: nowrap;
	  margin: auto;
	  justify-content: center;
	  max-width: 1416px;
	}
	
	main .section-wrapper {
		padding: 60px 0;
	}
	
	main .card {
		width: 338px;
		margin: 0 8px;
		font-size: 22px;
		line-height: 28px;
	}

	main .card h3 {
  		font-size: 26px;
  		line-height: 32px;
  	}
  	
  	main .default > p:last-child {
	  	margin-bottom: 0;
  	}
  	
  	header p:first-of-type {
	  	margin-left: 12px;
  	}
}




/* form styles, will not impact anything globally */

#name-email-form {
	max-width: 692px;
	margin: 0 auto;
	text-align: left;
}

#name-email-form .input-el,
#name-email-form .radio-el {
	margin-bottom: 40px;
}

#name-email-form label span {
	display: block;
}

#name-email-form label,
#name-email-form .radio-el > span {
	display: block;
	color: #6E6E6E;
	font-size: 16px;
	line-height: 20px;
}

#name-email-form input[type=radio],
#name-email-form input[type=checkbox] {
	border: 2px solid #8E8E8E;
    appearance: none;
    width: 16px;
    height: 16px;
    display: block;
    flex: none;
    margin: 3px 0 0 0;
}

#name-email-form input[type=checkbox] {
	border-radius: 2px;
	position: relative;
}

#name-email-form input[type=radio] {
    border-radius: 100%;
}

#name-email-form input[type=checkbox]:focus,
#name-email-form input[type=radio]:focus {
	outline: none;
}

#name-email-form input[type=checkbox]:checked {
	outline: none;
	border-color: transparent;
	background: #1473E6;
}

#name-email-form input[type=checkbox]:checked:before {
	content: " ";
	background: url(/icons/checkbox.svg) center center no-repeat;
	background-size: 12px 12px;
	top: -2px;
    left: -2px;
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
}

#name-email-form input[type=radio]:checked {
	outline: none;
	border: 5px solid #1473E6;
}

#name-email-form .radio-option {
	display: flex;
	margin: 10px 0;
}

#name-email-form .radio-option label {
	margin-left: 12px;
	color: #4B4B4B;
}

#name-email-form .radio-header {
	margin-top: 20px;
	font-weight: bold;
}

#name-email-form input[type=submit] {
	font-family: "Adobe Clean", adobe-clean, sans-serif;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1473E6;
	border: none;
	padding: 0 20px;
	margin-top: 40px;
}

#name-email-form .legal-text {
	margin-top: 40px;
	color: #6E6E6E;
}

#name-email-form .hidden-default {
	display: none;
}

#name-email-form .hidden-default.revealed {
	display: block;
}

#name-email-form .emailerror {
	color: #c9252d;
}