main .share {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

main .share svg.icon {
    height: 20px;
    width: auto;
    max-width: 20px;
    min-width: 0;
    margin: 0;
    transition: filter 0.3s;
    display: inline-block;
    fill: currentColor;
    color: #adadad;
}

main .share a svg.icon:hover {
    filter: brightness(0.7);
}

main .share p.icon-container,
main .share p.icon-container a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    gap: 10px;
}

main .share p.icon-container svg {
    color: #adadad;
}

main .share > div:not(.contributors) {
    border-bottom: 1px solid #707070;
    padding-bottom: var(--section-spacing-x-small);
}

main .share .contributors {
    display: flex;
    border-bottom: 1px solid #707070;
    padding: 16px 0;
    gap: 16px;
    align-items: center;
}

main .share .contributors h1,
main .share .contributors h2,
main .share .contributors h3,
main .share .contributors h4,
main .share .contributors h5 {
    font-size: var(--heading-font-size-s);
    margin: 0;
    padding: 0;
}

main .share .contributors p {
    font-size: var(--body-font-size-s);
    margin: 0;
    padding: 0;
    margin-top: 4px;
}

main .share .contributors-pic picture {
    line-height: 0;
}