/*-- Column Variants --*/
/* [medium (default), small, large, center, right] */
/* Small columns are min x pixels wide */
/* Medium columns are min x pixels wide */
/* Large columns are min x pixels wide */
/* Center aligns the text center */
/* Right aligns the text right */

main .section-wrapper.column-container > div.column {
  padding: 24px 0;
}

main .columns {
  --column-width-sm: 400px;
  --column-width-md: 560px;
  --column-width-lg: 700px;
}

main .columns .columns-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin: 48px 0;
  position: relative;
  box-sizing: border-box;
}

main .columns .column {
  width: 50%;
}

main .columns.large .column {
  width: 35%;
  width: calc(40% - 56px);
}

main .columns.large .column-picture {
  width: 60%;
}

main .column h2 {
  font-size: var(--heading-font-size-xl);
}

main .column p {
  font-size: var(--body-font-size-m);
}

main .column {
  min-height: var(--column-height-sm);
}

main .column.medium {
  min-height: var(--column-height-md);
}

main .column.large {
  min-height: var(--column-height-lg);
}

@media screen and (min-width: 800px) {
  main .column .container .column-column,
  main .column .container .column-image {
      flex: 0 1 auto;
  }

  main .column .container .column-column {
      width: 40%;
  }

  main .column .container .column-image {
      width: 50%;
  }

  main .column .container .column-column:first-child:last-child {
      width: 100%;
      max-width: 700px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  main .column .container .column-image {
      width: 40%;
  }
  main .column .container .column-column:not(.column-image) {
      width: 50%;
  }
}

@media screen and (max-width: 799px) {
  main .column .container {
      flex-direction: column;
  }
  main .column .container .column-image {
      order: 2;
      padding-bottom: 32px;
  }
}