@import url("../default.css");

header>div:first-of-type {
  color: none;
}

header {
  border-bottom: 1px solid #EAEAEA;
}

.wg-form-container {
  max-width: 1000px;
  margin: auto;
}

.input-el,
.text-el,
.radio-el {
  margin-bottom: 1em;
}


.radio-options-parent {
  display: flex;
  justify-content: center;
  padding: 1em 0em;
}

.radio-option {
  margin-right: 1em;
}

.radio-option:last-of-type {
  margin-right: 0em;
}