@import url("./styles.css");

body {
	text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

*,
button,
input,
textarea,
select {
	box-sizing: border-box;
}

em {
	font-style: italic;
}

main a,
main a:visited {
	color: #1473E6;
	text-decoration: none;
}

main a:hover {
	color: #0D66D0;
	text-decoration: underline;
}

a,
a:hover,
.default > p > a:only-child,
.section-wrapper > p > a:only-child,
#beta-form input[type=submit]:hover,
.default > p > a:only-child:hover,
.section-wrapper > p > a:only-child:hover {
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.40, 1); 
    transition: all 0.3s cubic-bezier(0, 0, 0.40, 1);
}

main .section-wrapper {
	padding: 40px;
}

main .section-wrapper:nth-child(even) {
	background: #f5f5f5;
}

main h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
	text-align: left;
}

main h2 {
	text-align: left;
	font-size: 27px;
	line-height: 30px;
	margin: 0 0 24px 0;
}

main .default > p {
	max-width: 928px;
	margin: 0 auto 20px auto;
	color: #707070;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
}

.section-wrapper:last-child .default > h2 {
	margin: 0 0 20px 0;
}

.default > p > a:only-child,
.section-wrapper > p > a:only-child {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1473E6;
	border: none;
	padding: 0 20px;
	text-decoration: none;
	-webkit-appearance: none;
}

#beta-form input[type=submit]:hover,
.default > p > a:only-child:hover,
.section-wrapper > p > a:only-child:hover {
	background: #0D66D0;
}

p img {
	display: block;
	max-width: 100%;
}


/* white nav */

header .icon,
header .icon img {
	width: 25px;
}

.default-nav>div:first-of-type {
	background: #fff;
}

.premiere .default-nav a {
	color: #2c2c2c;
}

.premiere .default-nav li:hover {
    background: #F5F5F5;
}

.premiere .carrot svg {
	stroke: #2c2c2c;
	height: 1.25em;
    width: 1.25em;
    margin: 0 0 0 1em;
}

header li {
	padding: 0;
}

header li a {
	display: block;
	padding: 20px 16px;
}

/* video */

.video {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
    margin-top: 36px;
}

.video iframe {
    width: 100%;
    border: 0;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}


/* cards */

main .card {
  	width: 100%;
  	margin: 0 0 40px 0;
  	background: #fff;
  	border-radius: 4px;
  	border: 1px solid #EAEAEA;
  	overflow: hidden;
	color: #707070;
	font-size: 16px;
	line-height: 20px;
}

main .card img {
	display: block;
	width: 100%;
}

main .card div:last-child {
	border-top: 1px solid #EAEAEA;
	padding: 40px;
}

main .card h3,
main .card h3 a {
  	font-size: 20px;
  	line-height: 27px;
  	margin: 0 0 10px 0;
  	color: #2C2C2C;
}

main .card a {
	display: block; 
}

main .card:hover h3 a {
	text-decoration: none;
}


/* cards */

main .cards > div {
	width: 100%;
	margin: 0 0 40px 0;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #EAEAEA;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
	overflow: hidden;
}

main .cards > div,
main .cards > div p a,
main .cards > div p a:hover {
	color: #707070;
}

main .cards > div img {
	display: block;
	width: 100%;
	height: unset;
}

main .cards > div > div:last-child {
	padding: 40px;
}

main .cards > div h3 {
	font-size: 20px;
	line-height: 27px;
	margin: 0 0 10px 0;
}

main .cards > div h3,
main .cards > div h3 a,
main .cards > div h3 a:hover {
	color: #2C2C2C;	
}

main .cards > div a:hover {
	text-decoration: none;
}


/* desktop specific styles */

@media only screen and (min-width: 769px) {
	
	main h1 {
		font-size: 48px;
		line-height: 60px;
		margin-top: 0;
	}
	
	main h2 {
		font-size: 36px;
		line-height: 45px;
	}
	
	main .section-wrapper .default {
		max-width: 928px;
	}
	
	main .default > p {
		font-size: 20px;
		line-height: 27px;
	}
	
	main .cards {
	  display: flex;
	  flex-wrap: nowrap;
	  margin: auto;
	  justify-content: flex-start;
	  max-width: 1416px;
	}
	
	main .section-wrapper {
		padding: 60px 0;
	}
	
	main .card {
		width: 338px;
		margin: 24px 8px 40px 8px;
		font-size: 22px;
		line-height: 28px;
	}

	main .card h3 {
		font-size: 26px;
		line-height: 32px;
	}

	.home main .cards > div {
		max-width: 338px;
		margin: 0 8px 16px 8px;
	}

	main .default > p:last-child {
		margin-bottom: 0;
	}
	
	header p:first-of-type {
		margin-left: 12px;
	}
	
	main .card-section h2,
	main .card-section > p {
		text-align: center;
	}
}



.tutorial-nav {
	/* display: flex; */
	/* align-items: center; */
	flex-direction: column;
	padding: 1em 1em;
	width: 100%;
	position: relative;
}

.tutorial-nav > div {
	position: relative;
	display: block;
}

.tutorial-nav > div:first-of-type {
	display: flex;
	align-items: center;
}

.tutorial-nav img,
.tutorial-nav span.icon {
	margin-right: 10px;
}

.tutorial-nav ul {
	display: none;
}

.tutorial-nav button {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background: #ddd;
	border: none;
	margin: 0;
	padding: 0;
}

.tutorial-nav button span {
	height: 2px;
	background: black;
	position: absolute;
	top: 8px; left: 10%;
	width: 80%;
}

.tutorial-nav a {
	width: auto;
}

.tutorial-nav button span:nth-child(2) {
	top: 16px;
}

.tutorial-nav button span:nth-child(3) {
	top: 24px;
}
.nav-showing .tutorial-nav ul {
	display: block;
}

@media(min-width: 700px) {
	.tutorial-nav button {
		display: none;
	}
	.tutorial-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1200px;
		margin: auto;
		flex-direction: row;
	}
	
}