body {
    font-family: "Adobe Clean", "adobe-clean", sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

/* set everything to box-sizing: border-box for form pages */
body.form {
  box-sizing: border-box;
}
body.form *, body.form *:before, body.form *:after {
  box-sizing: inherit;
}


header div p {
    margin: 0;
}

header {
    opacity: 0;
    transition: opacity 0.2s ease;
}

header.appear {
    opacity: 1;
}

main div.template {
  display: none;
}


/* quick video button fix - needs to be fixed properly */
.video #placeholder.button {
  border: 0;
}

.video #placeholder.button.hidden {
  display:none;
}



header>div:nth-of-type(2)>div {
    background-color:white;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    font-size: 12px;
    font-weight: 100;
}

header svg {
    height: 2em;
    width: 2em;
}

header svg.icon-adobe {
  fill: #fa0f00; 
}


main {
  padding: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

main h1,
main .default > p {
	text-align: center;
}

main h1 {
	color: #323232;
}

body.form main p {
	font-size: 16px;
    line-height: 24px;
}

body.form main .default > p,
main h1 + p {
	color: #747474;	
}

body.form main .default > p {
	text-align: center;
	margin: 0 auto 24px;
	max-width: 600px;
}

.section-wrapper .default {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

main.appear {
    opacity: 1;
}

main svg.icon {
    height: 2em;
    width: 2em;
    fill: currentColor;
}

main svg.icon.icon-behance {
    width: 4em;
}

.hidden {
    display: none;
}

.selected {
    background-color: #1473e6;
    color: white;
}

.has-wg-form .submit-el button,
button[type=submit],
input[type=submit] {
	font-family: "Adobe Clean", adobe-clean, sans-serif;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1473E6;
	border: none;
	padding: 0 20px;
	margin-top: 40px;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}

form label {
	color: #6E6E6E;
	font-size: 16px;
	line-height: 20px;
}

/* nps form specifically */

body.feedback main .embed {
	padding: 0;
}

body.feedback main .section-wrapper div.form.nps-form {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	padding: 40px;
}

body.feedback .section-wrapper .default {
	max-width: none;
	width: 100%;
} 

body.feedback .npsScaleButton {
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	font-size: 10px;
	text-align: center;
	padding: 0;
	border: 2px solid #eaeaea;
	border-radius: 100%;
}

body.feedback .npsScaleButton.selected {
	border-color: transparent;
}

body.feedback .button-group {
	margin: 5px 0 40px 0;
}

@media screen and (min-width: 600px) {
	body.feedback .npsScaleButton {
		width: 40px;
		height: 40px;
		font-size: 21px;
	}
}


/* all forms with class .form */

main div.form button,
main div.form input,
main div.form select,
main div.form textarea {
	font-family: "Adobe Clean", adobe-clean, sans-serif;
}

  
main div.form p {
    margin: 30px 0;
}
  
main div.form a:any-link {
    border-radius: 20px;
    background-color: #1473e6;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: auto;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    min-width: 180px;
}
  
  
main div.form form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

main div.form label {
	color: #6E6E6E;
}

main div.form-container {
  max-width: 692px;
  margin: auto;
}

main div.form-container .input-el, 
main div.form-container .select-el,
main div.form-container .radio-el {
  margin-bottom: 40px;
}

main div.form-container label,
main div.form-container .radio-el > span,
main div.form-container .input-el > span {
	display: block;
	color: #6E6E6E;
	font-size: 16px;
	line-height: 20px;
}

main div.form-container select {
	border: 1px solid #CACACA;
	border-radius: 4px;
    -webkit-appearance: none;
    display: block;
    flex: none;
	margin: 3px 0 0 0;
	padding: 5px 15px;
	background: #fff url('/icons/select-caret.svg') calc(100% - 12px) center no-repeat;
	background-size: 10px 10px;
}

main div.form-container input[type=radio],
main div.form-container input[type=checkbox] {
	border: 2px solid #8E8E8E;
    appearance: none;
    width: 16px;
    height: 16px;
    display: block;
    flex: none;
	margin: 3px 0 0 0;
}

main div.form-container input[type=checkbox] {
	border-radius: 2px;
	position: relative;
}

main div.form-container input[type=radio] {
    border-radius: 100%;
}

main div.form-container input[type=checkbox]:focus,
main div.form-container input[type=radio]:focus {
	outline: none;
}

main div.form-container input[type=checkbox]:checked {
	outline: none;
	border-color: transparent;
	background: #1473E6;
}

main div.form-container input[type=checkbox]:checked:before {
	content: " ";
	background: url(/icons/checkbox.svg) center center no-repeat;
	background-size: 12px 12px;
	top: -2px;
    left: -2px;
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
}

main div.form-container input[type=radio]:checked {
	outline: none;
	border: 5px solid #1473E6;
}

main div.form-container .radio-option {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

main div.form-container .radio-option label {
	margin-left: 12px;
	color: #4B4B4B;
}

main div.form-container .radio-header {
	margin-top: 20px;
	font-weight: bold;
}

main div.form-container button[type=submit] {
  margin: auto;
	font-family: "Adobe Clean", adobe-clean, sans-serif;
	color: #fff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #1473E6;
	border: none;
	padding: 0 20px;
  margin-top: 40px;
  display: block;
}


main input,
main textarea,
main select {
    font-family: "Adobe Clean", "adobe-clean", sans-serif;
    font-size: 16px;
    line-height: 24px;	
}
  
main input[type=text],
main textarea,
main input[type=email] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #CACACA;
    margin: 5px 0;
    color: #4B4B4B;
}

main input[type=text]::placeholder, main textarea::placeholder {
	color: #8E8E8E;
}

main input[type=text]:hover::placeholder, main textarea:hover::placeholder {
	color: #2C2C2C;
}

main input[type=text]:hover, main textarea:hover {
	border-color: rgb(179,179,179);
}
  
main input[type=radio] {
    margin: 5px 0;
}
  
  
footer {
    color: #2c2c2c;
    font-size: 11px;
    padding: 2em;
    text-align: center;
}

footer a:any-link {
    color: #2c2c2c;
    text-decoration: none;
}
  
footer svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
}
  
footer ul {
    display: block;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

footer li {
  text-align: center;
  margin-bottom: 1em;
  font-size: 15px;
}

footer a {
  font-size: 15px;
}
  
  
footer li:after {
    position: relative;
  }
  
footer li:last-of-type:after {
    display: none;
  }
    
footer a:hover {
    color: black;
  }
  
footer p {
      display: inline-block;
      font-size: 15px;
      white-space: nowrap;
  }    

footer>div {
  display: block;
  text-align: center;
}


footer p:after {
    position: relative;
  }

.privacy {
  margin-left: 10px;
}


  
  
  /* === Default Nav Component === */
  header>div:first-of-type {
    color: none;
  }
  header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .premiere header {
    background: black;
  }
  
  header .nav-logo {
    padding: 1em 0em;
    display: flex;
    align-items: center;
  }
  
  header .product-icon {
      display: flex;
      align-items: center;
  }

  header .product-icon p {
    margin: 0;
    margin-left: 8px;
    font-weight: 800;
    font-size: 18px;
    color: black;
  }

  .premiere header .product-icon p {
    color: white;
  }
  
  header>div:first-of-type {
    background-color: unset;
  } 
  
  header.nav-showing {
    background: #eee;
  }

  header.nav-showing a {
      color: black;
  }
  
  header .carrot svg {
    stroke: black;
    position: relative;
    top: 3px;
    margin-left: 8px;
  }
  
  
  
  header p:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1px;
    cursor: pointer;
  }
  
  header .icon {
    position: relative;
    /* top: 2px; */
    width: 40px;
    margin-left: 4px;
  }
  
  header ul {
    margin: 0; padding: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    text-align: center;
    /* margin-left: 1em; */
  }
  
  header li {
    margin-left: 0em;
    margin-top: 1.5em;
    padding: 20px 16px;
    text-align: center;
  }

  header li:hover {
    background: #F5F5F5;
    transition: background .2s ease;
  }

  .premiere header li:hover {
    background: #444;
    text-align: left;
  }

  .premiere header.nav-showing {
    background: black;
  }

  .premiere header.nav-showing .carrot svg {
    stroke: white;
  }
  
  header li:last-of-type {
    margin-right: 0em;
    margin-bottom: 2em;
    text-align: center;
  }
  
  header a {
    width: 100%;
    font-weight: 600;
    display: inline-block;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
  }

  header p:empty {
      display: none !important;
  }

  .premiere header a {
      color: white;
  }

  .premiere .carrot svg {
      stroke: white;
  }

  
  
  @media(min-width: 768px) {

    header.nav-showing {
      background: #fff;
    }
    
    .premiere header.nav-showing {
        background: black !important;
    }

    .premiere header.nav-showing a {
        color: white !important;
    }
  
    header > div {
      flex-direction: row;
    }
    
    header p:first-of-type {
      width: auto;
      cursor: default;
      margin-top: 0em;
      font-size: 14px;
    }
  
    header ul {
      display: flex !important;
      margin-left: 0em;
      flex-direction: row;
      text-align: left;
      margin-left: 42px;
    }
    
    header li {
      margin-top: 0em;
      margin-right: 2em;
    }
    
    header li:last-of-type {
      margin-bottom: 0em;
      margin-right: 0em;
    }
    
    header .carrot {
      display: none;
    }

    footer ul {
      display: inline-flex;
      width: auto;
      padding: 0;
      list-style-type: none;
  }
  
  footer li {
    text-align: center;
    margin-bottom: 0em;
    font-size: 12px;
  }
  
  footer a {
    font-size: 12px;
  }
    
    
  footer li:after {
      content: '/';
      position: relative;
      padding-left: 1em;
      padding-right: 1em;
    }
    
  footer li:last-of-type:after {
      display: none;
    }
      
  footer a:hover {
      color: #4B4B4B;
    }
    
  footer p {
        display: inline-block;
        font-size: 15px;
        white-space: nowrap;
    }    
  
  footer>div {
    display: inline-block;
    text-align: left;
  }
  
  
  footer p:after {
      content: '/';
      position: relative;
      padding-left: 1em;
      padding-right: 1em;
    }
  
    
  }
  

  /* CTA STYLES */
  .button {
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 4.5px;
    padding-top: 3.5px;
    font-size: 14px;
    font-weight: 700;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible;
    margin: 0;
    border-style: solid;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: button;
    vertical-align: top;
    transition: background .13s ease-out, border-color .13s ease-out,color .13s ease-out,box-shadow .13s ease-out;
    text-decoration: none;
    line-height: 1.3;
    cursor: pointer;
  }

  .button.main {
    background-color: #1473e6;
    border-color: #1473e6;
    color: #fff;
  }

  .button.main:hover {
    background-color: #0d66d0;
    border-color: #0d66d0;
    color: #fff;
  }

  .button.secondary {
    background-color: transparent;
    border-color: #505050;
    color: #505050;
  }

  .button.secondary:hover {
    background-color: #505050;
    border-color: #505050;
    color: #fff;
  }