/*-- Marquee Variants --*/
/* [small(default), medium, large] */
/* Small marquees are 360 pixels tall and contain an optional detail, a headline, body copy, at least one CTA, and a relevant image or video.*/
/* Medium marquees are 560 pixels tall and contain an optional detail, headline, body copy, at least one CTA, and a relevant image or a video.*/
/* Large marquees are 700 pixels tall and contain an optional detail (or brand image), headline, body copy, two CTAs, and a relevant image or video.*/


main .section-wrapper:first-of-type.marquee-container {
    margin-top: var(--header-height);
}

main .section-wrapper:first-of-type.marquee-container > div > :first-child:not(.marquee) {
    margin-top: 128px;
    margin-top: calc(var(--header-height) + 64px);
}

main .marquee h2 {
    font-size: var(--heading-font-size-xl);
}

main .marquee p {
    font-size: var(--body-font-size-m);
}

main .marquee .button {
    margin-bottom: 0;
    margin-top: 8px
}

main .marquee .button:first-child {
    margin-left: 0;
}

main .marquee {
    padding: 24px 0;
    margin: 48px 0;
    --marquee-height-sm: 360px;
    --marquee-height-md: 560px;
    --marquee-height-lg: 700px;
    --marquee-height-qt: 360px;
    --marquee-height-in: auto;
    color: white;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-wrapper:first-of-type.marquee-container .marquee:first-child {
    margin-top: 0;
}

.marquee.center {
    text-align: center;
}
.marquee.is-Loaded {
    display: block;
    opacity: 1;
}
.marquee.is-Loaded.init {
    opacity: 1;
}

.marquee .background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.marquee .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    user-select: none;
}

.marquee .container {
    position: relative;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

.marquee .container .marquee-column {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: var(--spacing-l) 0;
}


.marquee .container .marquee-column:not(.marquee-image) {
    padding: 32px 0;
}

.marquee .container .marquee-column > * {
    width: 100%;
}

.marquee .container .marquee-column h1 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: var(--type-heading-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.marquee .container .marquee-column h1 + p {
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    margin: 0 0 var(--spacing-m) 0;
}

.marquee .container .marquee-column h1 + p + p {
    margin: 0;
}

.marquee .container .marquee-image {
    text-align: right;
}

.marquee .container div {
    flex: 1 1 auto;
}

.marquee .container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.marquee.large .background {
    position: relative;
    min-height: 350px;
}

.marquee.large .background picture {
    height: 350px;
    display: block;
}

/*tablet*/
@media screen and (min-width: 600px) {
    .marquee.large {
        padding: var(--spacing-l) 0 var(--spacing-l) 0;
    }
    .marquee.large .background {
        position: absolute;
    }
    .marquee.large .container .marquee-column {
        width: 40%;
    }
    .marquee.large .background picture {
        height: auto;
        display: initial;
    }
}

@media screen and (min-width: 1200px) {
    main .marquee {
        min-height: var(--marquee-height-sm);
    }
    
    main .marquee.medium {
        min-height: var(--marquee-height-md);
    }

    main .marquee.large {
        min-height: var(--marquee-height-lg);
    }

    .marquee .container,
    .marquee.small .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .marquee .container .marquee-column,
    .marquee .container .marquee-image {
        flex: 0 1 auto;
    }

    .marquee .container .marquee-column {
        width: 40%;
    }

    .marquee .container .marquee-image {
        width: 50%;
    }

    .marquee .container .marquee-column:first-child:last-child {
        width: 100%;
    }
}