main {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

main h1 {
    font-size: 48px;
    font-weight: 900;
}

main svg.icon-role-engineer {
    fill: #01d9d9;
}

main svg.icon-role-illustrator {
    fill: #00b9fd;
}

main svg.icon-role-architect {
    fill: #fae015;
}

main svg.icon-role-scientist {
    fill: #feaa0a;
}

main svg.icon-role-designer {
    fill: #f73d99;
}

main svg.icon-role-marketer {
    fill: #23da8d;
}

main .header .roles {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

main .header .roles li svg {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    padding: 10px;
}

main .header .roles li {
    padding: 20px
}

main .video #placeholder {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 500px;
    height: calc(500px/16*9)
}

main .video {
    max-width: 100%;
}

main .video {
    max-width: 500px;
}

main .video video {
    width: 100%;
}

main .video #placeholder svg {
    fill: white;
    background-color: #1473e6;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }


main .gray {
    background-color: #eee;
}

main .video-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

main .video-section .video-text {
    background-color: white;
    padding: 20px;
}

main .video-section h3 {
    font-size: 40px;
    font-weight: 300;
}

main .video-section .video-text p:first-of-type{
    color: #00d4d9;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

main .video-section .video-text a:any-link {
    text-decoration: none;
}

main .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .steps .card {
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 20px;
}

main .steps .card-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

main .steps .card-header ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

main .steps .card-header li {
    height: 1.7em;
    width: 1.7em;
    overflow: hidden;
}

main .steps .card-header li svg {
    height: 1.7em;
    width: 1.7em;
}

main .steps .card-img {
    background-size: cover;
}
main .card .card-img svg {
    fill: white;
    background-color: #1473e6;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }


main .steps .card-img {
    width: 100%;
    height: calc(350px/16*9);
    box-sizing: border-box;
    position: relative;
}

main .steps .card-text {
    text-align: left;
    padding: 20px;
}

main .steps .card-text h4 {
    font-size: 1.5em;
}

main .default a {
    background-color: #1473e6;;
    padding: 8px 30px 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    margin: 20px 30px;
}

header>div {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    background-image: url('/headers/illustrator/en/twp/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
  }


header p:first-of-type a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 800;
  }
  
header p:first-of-type a svg {
    padding-right: 5px; 
}

header>div:first-of-type {
    background-color: unset;
  } 
  