main .background-container {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
}

main .background-container + .background-container {
    margin-top: 0;
}

main .background-container {
    background-color: #f8f8f8;
}

main .background-container .cards:last-child {
    margin-bottom: 8px;
}