@import url("./styles.css");

header {
  top: 12px; left: 0;
  width: 100%;
  font-weight: 800; 
  z-index: 9;
  padding: 1.4em 0em 2.4em 0em;
}

header img {
  margin-right: 16px;
}

header .container p {
  color: #000000 !important;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: auto;
}

.container p {
  color: #000000 !important;
  font-size: 18px;
}

.hero-banner img {
  width: 100%;
  display: none;
}

.hero {
  text-align: center;
  position: relative;
}

.hero h3 {
  position: relative;
}

.hero h1 {
  font-size: 40px;
  margin: 0.2em auto 0.5em auto;
}

.hero p {
  max-width: 675px;
  margin: auto;
  line-height: 1.6;
}

main .default:nth-child(2) {
  text-align: center;
  padding-top: 2.5em;
}

.topic_icons {
  display: flex;
  width: 90%;
  max-width: 900px;
  list-style-type: none;
  margin: 0 auto;
  padding: 1em 0em;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.topic_icons li {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #626262;
  font-weight: 600;
  letter-spacing: 1px;
  width: 48%;
  margin-bottom: 2em;
}

.topic_icons span:first-of-type {
  margin-bottom: 10px;
}

.engineer span:last-of-type{
  position: relative;
}

.home main .default:nth-child(3), .video_card {
  background: #F6F6F6;
  padding: 1em 0em;
  margin-top: 2em;
}

.video__wrapper {
  margin: 3em auto;
  max-width: 705px;
  display: flex;
  background: white;
  align-items: center;
  flex-direction: column;
}

.video__element {
  position: relative;
}

.video__wrapper video {
  width: 100%;
  position: relative;
  display: inline-block;
}

.video__play-button {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video__content {
  padding: 2em 0em;
}

.video__content h1 {
  text-align: left !important;
  margin-top: 0.2em;
  font-size: 35px;
  font-weight: 100;
}

.video__content h4 {
  margin: 0;
  color: #37C9D0;
  font-weight: 800;
}

.video__content p {
  font-weight: 100;
  line-height: 1.6;
}


.home main .default:nth-child(4) {
  text-align: center;
  padding-top: 3em;
}

.home main .default:nth-child(4) h1 {
  font-weight: 400;
  font-size: 35px;
}

.steps {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.steps__item {
  width: 100%;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  margin-bottom: 50px;
}

.steps__item--inner {
  width: 90%;
  margin: auto;
}

.steps__for span:first-of-type {
  color: black;
  font-weight: 700;
}

.spacer {
  margin: 0em 0.3em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__for-icons {
  align-items: center;
  padding: 6px;
}

.steps__for-icons img {
  transform: scale(0.8);
  position: relative;
  top: 3px;
  margin-left: 10px;
}

.steps__for-icons .great_for_icon_set:first-of-type img {
  margin-left: 0px;
}


.steps__image img {
  width: 100%;
}

.content {
  padding: 2.4em 0em;
  color: #323232 !important;
}

.content h2 {
  margin-top: 0;
  font-size: 20px;
}

.content p {
  font-size: 16px;
  color:#323232;
  line-height: 1.6;
}

.content a {
  display: inline-block;
  border: 2px solid #323232;
  border-radius: 30px;
  padding: 6px 20px;
  color: #323232;
  text-decoration: none;
  font-weight: 700;
  margin-top: 30px;
}

.content a:hover {
  background-color: #323232;
  color: white;
}

main .default:last-of-type {
  text-align: center;
  position: relative;
  margin-bottom: 2em;
}

main .default:last-of-type a {
  display: inline-block;
  border: 2px solid #323232;
  border-radius: 30px;
  padding: 6px 40px;
  color: #323232;
  text-decoration: none;
  font-weight: 700;
  background: white;
  margin-top: 10px;
}

main .default:last-of-type a:hover {
  background-color: #323232;
  color: white;
}

footer {
  background: #F6F6F6;
  width: 100%;
  margin: auto;
  padding: 2em 0em;
}


main .default:last-of-type .footer-wave {
  position: absolute;
  left: 0; width: 100%;
  height: 100%;
  z-index: 9;
  bottom: 0;
  z-index: -1;
}

main .default:last-of-type .footer-wave img {
  position: relative;
  width: 100%;
  max-width: 960px;
  top: 61.8%;
}

.step main .default:last-of-type h1 {
  margin-top: 1em;
}

.icon-set {
  text-align: center;
  padding: 2em 0em;
}

.icon-set h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0em;
}


.step-two a {
  background:#0D66D0;
  font-size: 17px;
  color: white;
  padding: 0.7em 3em;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
}

.step-two {
  text-align: center;
  background: #F6F6F6;
  padding: 45px 0em;
}

.step-three {
  text-align: center;
  padding: 45px 0em;
}

.step-two h4, 
.step-three h4 {
  color: #747474;
  font-size: 16px;
  margin-bottom: 0.5em;
}

.step-two h2, 
.step-three h2 {
  color:#323232;
  font-size: 25px;
  margin-top: 0em;
}

.step-three .video__wrapper {
  display: inline-block;
  margin: auto;
  width: 100% !important;
  max-width: 785px;
  padding-top: 1.5em;
}

.step-three .video__element {
  width: 100%;
}

.video-info-single {
  text-align: left;
  padding: 1.4em 0em;
  border-bottom: 1px solid #EAEAEA;
}

.video-timeline {
  text-align: left;
  margin: 0; padding: 2em 0em;
  border-bottom: 1px solid #EAEAEA;
}


.video-timeline li {
  list-style-type: none;
  margin-bottom: 18px;
}

.video-timeline li:last-of-type {
  margin-bottom: 0;
}

.mini-nav {
  display: flex;
  margin: 0; padding: 0;
  padding-top: 2em;
  list-style-type: none;
}

.mini-nav li {
  /* margin-right: 1em; */
  text-align: left;
}

.mini-nav li:after {
  content: '|';
  margin: 0em 1em;
}

.mini-nav li:last-of-type:after {
  display: none;
}

.mini-nav a {
  color: #1473E6;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

@media(min-width: 720px) {
  header {
    position: absolute;
    top: 12px; left: 0;
    width: 100%;
    font-weight: 800;
    z-index: 9;
  }
  
  header img {
    margin-right: 16px;
  }
  
  header .container p {
    color: white !important;
  }
  
  .container {
    max-width: 960px;
    width: 90%;
    margin: auto;
  }
  
  .container p {
    color: #000000 !important;
    font-size: 18px;
  }
  
  .hero-banner {
    overflow: hidden;
  }
  .hero-banner img {
    display: block;
    width: 200%;
    left: -100%;
    position: relative;
  }

  .hero h3 {
    position: relative;
    margin-top: -50px;
  }

  .topic_icons li {
    width: 33%;
  }
  
  .home main .default:nth-child(3) {
    margin-top: 2em;
  }
  
  .video__wrapper {
    flex-direction: row;
  }
  
  .video__element {
    width: 60%;
  }
  
  .video__content {
    max-width: 180px;
    margin: auto;
  }
  
  .video__content h1 {
    text-align: left !important;
    margin-top: 0.2em;
    font-size: 35px;
    font-weight: 100;
  }

  body.ko .video__content h1 {
    font-size: 24px;
  }
  
  .video__content h4 {
    margin: 0;
    color: #37C9D0;
    font-weight: 800;
  }
  
  .video__content p {
    font-weight: 100;
    line-height: 1.6;
  }
  
  
  .home main .default:nth-child(4) {
    text-align: center;
    padding-top: 3em;
  }
  
  .home main .default:nth-child(4) h1 {
    font-weight: 400;
    font-size: 35px;
  }
  
  .steps {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
  }
  
  .steps__item {
    width: 47%;
  }
  
  .steps__for-icons img {
    transform: scale(0.8);
  } 
}


@media(min-width: 800px) {
  .topic_icons {
    flex-wrap: no-wrap;
  }
  header .container p {
    top: -20px;
    position: relative;
  }
  .topic_icons li {
    width: auto;
    margin-bottom: 2em;
  }
  .hero-banner img {
    width: 100%;
    left: -0%;
  }
  
  .hero h3 {
    margin-top: -16px;
  }
}