<link rel="stylesheet" type="text/css" href="/styles/internal/fullcalendar.main.min.css" />
<link rel="stylesheet" type="text/css" href="/styles/internal/default.css" />
<form>
	<h2>Select your start date</h2>
	<div>
		<input type="date" value="" />
	</div>
	<h2>Select your test deliverables</h2>
	<ul>
		<li id="ccd-banner">
			<div>
				<input type="number" id="ccd-ccw-banner-qty" name="ccd-ccw-banner-qty" value="0" />
			</div>
			<label for="ccd-ccw-banner-qty">CCD/CCW Banner</label>
		</li>
		<li id="email">
			<div>
				<input type="number" id="email-qty" name="email-qty" value="0" />
			</div>
			<label for="email-qty">Email</label>
		</li>
		<li id="web-landing-page">
			<div>
				<input type="number" id="web-landing-page-qty" name="web-landing-page-qty" value="0" />
			</div>
			<label for="web-landing-page-qty">Web Landing Page</label>
		</li>
		<li id="in-app-home-banner">
			<div>
				<input type="number" id="first-mile-banner-qty" name="first-mile-banner-qty" value="0" />
			</div>
			<label for="first-mile-banner-qty">In-App Home Banner</label>
		</li>
		<li id="in-app-launchpad">
			<div>
				<input type="number" id="in-app-message-qty" name="in-app-message-qty" value="0" />
			</div>
			<label for="in-app-message-qty">In-App Launchpad Flow</label>
		</li>
		<li id="in-app-pancake">
			<div>
				<input type="number" id="in-app-message-qty" name="in-app-message-qty" value="0" />
			</div>
			<label for="in-app-message-qty">In-App Pancake</label>
		</li>
		<li id="dtn">
			<div>
				<input type="number" id="desktop-notification-qty" name="desktop-notification-qty" value="0" />
			</div>
			<label for="desktop-notification-qty">Desktop Notification</label>
		</li>
		<li id="paid-social">
			<div>
				<input type="number" id="paid-social-ad-qty" name="paid-social-ad-qty" value="0" />
			</div>
			<label for="paid-social-ad-qty">Paid Social Ad</label>
		</li>
		<li id="other">
			<div>
				<input type="number" id="other-qty" name="other-qty" value="0" />
			</div>
			<label for="other-qty">Other</label>
		</li>
	</ul>
	<p><input type="submit" value="Next" /></p>
</form>
<div id="timeline">
	<div id="calendar">
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/scripts/fullcalendar.main.min.js"></script>
<script src="/scripts/fullcalendar.locales-all.min.js"></script>
<script type="text/javascript">
	Date.prototype.toDateInputValue = (function() {
	    var local = new Date(this);
	    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
	    return local.toJSON().slice(0,10);
	});
	$( document ).ready(function() {
		$("input[type='date']").val(new Date().toDateInputValue());
		$("form ul").on("click", "li", function() {
			var item = $(this).find("div input").attr("id");
			console.log(item)
			if ($(this).find("div").css("opacity") == "1") {
				console.log("visible")
				$(this).find("div input").focus();
			}
			else {
				console.log("invisible")
				$(this).find("div").css("opacity", "1");
				$(this).find("div input").val("1").focus();
			}
		});
		$("form ul li div").on("change", "input", function() {
				var originalText = $(this).parents("li").children("label").text();
			if ($(this).val() > 1 && !$(this).parents("li").hasClass("plural")) {
				$(this).parents("li").addClass("plural").children("label").text(originalText + "s");
			}
			else if ($(this).val() < 2 && $(this).parents("li").hasClass("plural")) {
				var newText = originalText.substring(0, originalText.length - 1);
				$(this).parents("li").removeClass("plural").children("label").text(newText);
			}
		});
		$("form ul li div").on("blur", "input", function(){
			if ($(this).val() == 0) {
				$(this).css("opacity", "0");				    
			}
		});
		// { type of deliverable: number of days to first review, number of days to second review
		var deliverableRules = [
			{ "CCD/CCW Banner": [2, 2] },
			{ "Email": [2, 2] },
			{ "Web Landing Page": [2, 2] },
			{ "In-App Home Banner": [2, 2] },
			{ "In-App Launchpad Flow": [2, 2] },
			{ "In-App Pancake": [1, 1] },
			{ "Desktop Notification": [2, 2] },
			{ "Paid Social Ad": [2, 2] },
			{ "Other": [3, 3] }		
		]
		var designers = [
			"Brijhette",
			"Cass",
			"Christine",
			"Kenny",
			"Nana"
		]
		var exceptions = [
			{ "Brijhette": ["2020-08-10", "2020-08-14"]}
		]
		$("form").on("change", function() {
			// count the numbers of each deliverable
			// take date and map deliverables onto calendar
			// collapse date and deliverables on form
			// insert PMs and test charter fields on form
			// query existing events to see what designers are occupied on this date range with events or exceptions
			// show list of available designers on the date range
		});
	});
</script>
<script>
	async function fetchBacklog() {
	    const resp=await fetch('growth-design-backlog.json');
	    const json=await resp.json();
	    return (Array.isArray(json) ? json : json.data);
	}
	
	const events = [];
	
	async function insertBacklog() {
		const backlog = await fetchBacklog();
	    console.log("backlog is " + JSON.stringify(backlog))
	    const events = [];
	    $.each(backlog, function (key, value) {
            events.push({
                title: value.title,
                start: '2020-08-10',
                end: '2020-08-14',
                testCharter: value.testCharter,
                designers: value.designers,
                PMs: value.PMs
            });
        });
        
        const calendarEl = document.getElementById('calendar');
	    const calendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar: {
		        left: 'prev,next today',
		        center: 'title',
		        right: 'dayGridMonth,dayGridWeek,dayGridDay'
			},
			hiddenDays: [ 0, 6 ],
			initialDate: new Date().toDateInputValue(),
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			dayMaxEvents: true, // allow "more" link when too many events
			events: events,
			eventDidMount: function(info) {
			    console.log(info.event.extendedProps);
			    // add pop-up showing PM, Designer, test charter link
			}
		});
		calendar.render();
	}
		
	if (document.readyState == 'loading') {
		window.addEventListener('DOMContentLoaded', (event) => {
			insertBacklog()
		});
		} else {
		const backlog = fetchBacklog();
	}

</script>
