@import url('./styles/nav.css');
@import url('./styles/landing.css');
@import url('./styles/appPage.css');

:root {
  --sub-text-size: 16px;
  --light_gray: #e1e1e1;
  --medium_gray: #747474;
}

.invisible {
  display: none;
}

h2 {
  font-size: 45px;
}

.section-wrapper {
  position: relative;
  max-width: 1200px;
  width: 95%;
  margin: auto;
}
@media (max-width: 767px) {
  .section-wrapper {
    max-width: 85vw;
  }
}

.button {
  cursor: pointer;
}

.gray-zone {
  padding: 60px 0;
  background: var(--light_gray);
}
.get-links {
  margin-top: 30px;
  text-align: left;
}
.get-links picture {
  margin-left: -7px;
}
.get-buttons {
  display: flex;
  margin-top: 5px;
}
.get-links.one-line {
  display: flex;
  align-items: flex-end;
}
.get-links.one-line > *:not(:first-child) {
  margin-left: 20px;
}
.get-buttons .button {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .get-links img {
    display: none;
  }
}

.grid-2 .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.slide-in {
  position: relative;
  transition: left 1s cubic-bezier(0.25, 1, 0.5, 1),
    right 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 1s;
  opacity: 0;
}
.slide-in.slide-active {
  opacity: 1;
}
.slide-in.from-left {
  left: -30vw;
}
.slide-in.from-left.slide-active {
  left: 0;
}
.slide-in.from-right {
  right: -30vw;
}
.slide-in.from-right.slide-active {
  right: 0;
}

@media (min-width: 768px) {
  .no-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
}
