@import url("/templates/stock-advocates/default.css");

main > .section-wrapper > div {
  margin: 0em auto;
  padding: 0em 0em;
  width: unset;
}

main > .section-wrapper > div > p {
  padding: 0 24px;
}

main > .section-wrapper:not(.full-width) {
  padding: 7em 0;
}

@media (max-width: 599px) {
  main > .section-wrapper:not(.full-width) {
    padding: 3em 0;
  }
}

main > .section-wrapper.full-width > div {
  max-width: unset;

}

main #explore-the-creative-briefs {
  margin-top: 3rem;
}

main .colors {
    display: none;
}

body.noscroll {
  overflow: hidden;
}

main div.white-text {
  color: white;
}

main div a.button {
  white-space: nowrap;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 26px;
  border-radius: 3em;
}

main div a.button.primary:hover {
  background-color: rgba(255,255,255,0.75);
  color: #3e1bb2;
  border-color: #3e1bb2
}

main div a.button.primary {
background-color: #3e1bb2;
border-color: #3e1bb2
}

main div.white-text a.button.secondary {
  color: white;
  border-color: white;
}

main div.white-text a.button.secondary:hover {
  background-color: white;
  color: #2c2c2c;
}

main p:not(.button-container) + p.button-container,
main h1 + p.button-container {
  margin-top: 32px;
}

/* faq */

main .section-wrapper.faq-container {
  background-color: #3e1bb2;
  color: white;
  padding: 4em;
}

main .section-wrapper.faq-container a:any-link {
  color: white;
  text-decoration: underline;
  display: inline;
}

main .faq {
  text-align: left;
  margin-bottom: 32px;
}

main .faq .question {
  margin-top: 32px;
  font-weight: 700;
  padding-left: 32px;
  cursor: pointer;
}

main .faq .question p::before {
  position: absolute;
  content: '\A';
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid currentColor;
  margin-left: -32px;
  margin-top: 5px;
}

main .faq .show .question p::before {
  border: 7px solid transparent;
  border-top: 7px solid currentColor;
  margin-top: 10px;
  margin-left: -37px;
}

main .faq .answer {
  padding-top: 3px;
  padding-left: 32px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease-out;
}

main .faq p {
  margin: 0;
}

main .faq .show .answer {
  max-height: 300px;
}

main h2:not(.h4) {
  margin-top: 1em;
  padding: 0 16px;
  margin-bottom: 24px;
}

main h2:first-child:not(.h4) {
  margin-top: 0;
  padding-top: 1em;
}

h3.h5 {
	font-size: 20px;
}

/* overlay */

main div.overlay {
  margin-bottom: 4em;
}

main div.overlay>div:first-of-type {
  max-width: 800px;
  margin: auto;
  padding: 32px;
}

main div.overlay>div:nth-of-type(2) {
  margin-top: -15%;
}

main div.overlay>div:nth-of-type(2) img {
  width: 100%;
}

/* header */

header a:any-link{
  color: white;
  text-decoration: none;
}

header p {
  margin: 0;
  padding: 0;
}

header .asa-logo {
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

@media (min-width:600px) {
  header .asa-logo {
    display: block;
  }
}

body.artist-bio header .asa-logo {
  display: none;
}


header div.expanded div.logo {
  display: none;
}

header div.expanded>div {
  flex-grow: 0;
}

header div.expanded {
  align-items: start;
  backdrop-filter: blur(20px);
  background-color: rgba(49, 49, 49, 0.7);
  flex-direction: row-reverse;
}

header div.expanded>div.menu {
  flex-grow: 1;
  justify-content: center;
  font-size: 1.3em;
  padding-left: 32px;
}

header div.expanded div.menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

header div.expanded div.menu ul {
  flex-direction: column;
}

header {
  color: white;
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.27) 50%, rgba(0,0,0,0.115) 75%, rgba(0,0,0,0) 100%);
}

header>div, header div.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>div {
  padding: 14px 14px 17px 4px;
}

header div.menu {
  display: none;
}

header>div ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header>div li {
  padding: 8px 16px;
}

header .icon img,
header svg.icon {
  width: 32px;
  height: 32px;
  margin: 10px;
  fill: currentColor;
}

header .icon.icon-stock-logo,
header .icon.icon-stock-logo img {
  width: 180px;
}

header .hamburger {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@media (min-width:1200px) {
  header div.menu {
    display: flex;
    padding-right: 32px;
  }
  header .hamburger {
    display: none;
  }
}


@media (max-width: 1420px) {
  header div.menu {
    padding-right: 0;
  }

  header > div li {
    padding: 8px 12px;
  }
}

.handsy {
  cursor: pointer;
}

/* hero section */

body.artist-bio main .video {
  max-width: 900px;
  width: 80%;
  margin: 0em auto;
  padding: 2em 0em;
  background: white;
}

body.artist-bio main .video iframe {
  width: 100%;
  height: 34vw;
}

.hero-section:not(.artist-bio-hero-section) {
  display: flex;
  width: 100%;
  align-items: center;
}

.hero-section:not(.artist-bio-hero-section) > div.image > p {
  line-height: 24px;
  font-size: 18px;
  position: absolute;
  text-align: right;
  right: 40px;
  bottom: 15px;
}


main > div.hero-section.section-wrapper > div > p {
padding: 0;
}

main>div.hero-section>div {
  width: 100%;
  position: relative;
}

.artist-bio-hero-section {
  margin-bottom: 2em;
}

main .artist-bio-hero-section {
  position: relative;
}

.artist-bio-hero-section .text {
  position: absolute;
  top: 35vw;                         /* vertical alignment */
  left: 50%;
  width: 50vw;                        /* horizontal alignment */;
  transform: translate(-90%, -75%);
  z-index: 2;
  text-align: left;/* precise centering; see link below */
}

@media (max-width: 1230px) {
  main .artist-bio-hero-section .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    width: 50vw;
    z-index: 2;
    text-align: left;
    transform: none;
  }
}

@media (max-width: 1030px) {
  main .artist-bio-hero-section .text {
    position: relative;
    height: 100%;
    display: block;
    padding-left: 1.5rem;
    width: 100%;
    z-index: 2;
    text-align: left;
  }
  main .artist-bio-hero-section .image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  main .artist-bio-hero-section .image img {
    object-fit: cover;
    object-position: 65%;
  }
}

@media (max-width: 599px) {
  .hero-section {
    flex-direction: column;
  }

  main .artist-bio-hero-section .text {
    position: static;
    top: auto;                         /* vertical alignment */
    left: auto;
    width: auto;                        /* horizontal alignment */;
    transform: none;
    z-index: 2;
  }
  
  main .artist-bio-hero-section .image {
    position: static;
  }
}

.artist-bio-hero-section .text p {
  padding: 0;
}

.artist-bio-hero-section .text h1 {
  font-size: 52px;
  line-height: 1.15;
  font-weight: 400;
}

@media (min-width: 600px) {
  .artist-bio-hero-section .text h1 {
    font-size: 74px;
    line-height: 90px;
    font-weight: 800;
    max-width: 520px;
  }
}
.artist-bio-hero-section .text a.button {
  border: 1px solid #FFFFFF;
  border-radius: 34px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.artist-bio-hero-section .text h4 {
  font-size: 19px;
  line-height: 25px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}

.artist-bio-hero-section .text h5 {
  font-size: 19px;
  line-height: 35px;
  font-weight: normal;
  padding-top: 0px;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .artist-bio-hero-section .text h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .artist-bio-hero-section .text h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    padding-top: 0px;
  }
}

.hero-section>div.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section>div.image p:nth-of-type(2) {
  position: absolute;
  color: white;
  bottom: 1em;
  left: 1em;
}

.hero-section .text {
  padding: 3em 2em;
  text-align: left;
}

main>div.hero-section>div.text.image {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  overflow: hidden;
}

main>div.hero-section>div.text.image h1 {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2em;
  padding: 40px;
}

/* vertical center text */

body.artist-development-fund main>div.hero-section>div.text.image h1 {
  top: inherit;
}

body.artist-development-fund main h1
{
  font-size: 42px;
}

body.artist-development-fund h3 a:any-link {
  color: black;
}

body.artist-development-fund .hero-section .text {
  padding-bottom: 5em;
}

body.artist-development-fund .hero-section:not(.artist-bio-hero-section) > div.image > p {
  right: 26px;
}

@media (min-width:600px) {  
  body.artist-development-fund .hero-section {
    height: 60vh;
    min-height: 475px;
  }

  body.artist-development-fund .hero-section+div {
    height: 40vh;
    min-height: 440px;;
  }

  body.artist-development-fund .hero-section .text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
  }
}

@media (max-width:1199px) {
  body.artist-development-fund .hero-section:not(.artist-bio-hero-section) > div.image > p {
    right: 36px;
  }
}

@media (min-width:1421px) {  
  body.artist-development-fund .hero-section:not(.artist-bio-hero-section) > div.image > p {
    right: 62px;
  }
}


.artist-development-fund main h2 {
  margin-top: 0;
}

.columns-container.full-width > div > h2:first-child {
  margin-bottom: 2em;
}

.artist-development-fund main .hero-section + .section-wrapper p:first-child {
  max-width: 650px;
  margin: 6em auto 2em auto;
}

.artist-development-fund .columns ul li {
  font-weight: 200;
}

/* alignment rules for specific pages */
.columns.left-justify .text,
.columns.left-justify .text p,
main.appear #call-for-content + .columns .text p {
  text-align: left;
}

.columns.left-justify .text h2:not(.h4) {
  padding-left: 0;
}

.embed-internal-submitandgetfunded .columns .text {
  text-align: center;
}

.embed-internal-accessibility {
  background-color: #3E1BB2;
  color: white;
  padding-top: 59px;
  padding-bottom: 90px;
}


.embed-internal-accessibility>div {
  max-width: 80%;
  margin: auto;
}

main .embed-internal-accessibility a {
  color: white;
}

@media (min-width:600px) {
  .embed-internal-accessibility {
    padding: 100px;
  }
  .embed-internal-accessibility>div {
    max-width: 1180px;
    margin: auto;
  }
}

.embed-internal-accessibility p {
  text-align: center;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0px;
}

.embed-internal-accessibility h4 {
  font-size: 25px;
  line-height: 31px;
}

.embed-internal-partners {
  background-color: #040B28;
}

.embed-internal-partners .grid {
  background-color: #040B28;
  max-width: 1200px;
  margin: auto;
}

.embed-internal-partners .grid>div {
  padding: 20px;
}

.hero-section h1 {
  font-size: 4em;
  line-height: 1em;
  padding-top: 48px;
}

.hero-section .image, .hero-section .image p {
  padding: 0;
  margin: 0;
  line-height: 0;
}

@media (min-width:600px) {
  main>div.hero-section:not(.artist-bio-hero-section)>div {
    width: 50%;
  }

  .hero-section {
    flex-direction: row-reverse;
  }

  body.artist-development-fund main>div.hero-section>div {
    height: 100%;
  }

  body.artist-development-fund main > .section-wrapper:not(.full-width) {
    padding: 0.5vh 0;
  }
}

.artist-development-fund main>div.hero-section {
  position: relative;
}

.artist-development-fund main>div.hero-section>div {
  width: 100%;
}

.artist-development-fund main>div.hero-section>div.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.artist-development-fund main>div.hero-section>div.text {
  z-index: 2;
  text-align: center;
}


/* fund section */

.embed-internal-fundsection {
  margin-top: 3em;
  color: white;
  display: grid;
  grid-template-areas: 'a';
}

.embed-internal-fundsection>div {
  grid-area: a;
  position: relative;
}

.embed-internal-fundsection h2 {
  margin-top: 1em;
}

.embed-internal-fundsection>div:first-of-type>p:first-of-type {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.embed-internal-fundsection>div:first-of-type picture,
.embed-internal-fundsection>div:first-of-type picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.embed-internal-fundsection>div:first-of-type>p:first-of-type {
  height: 100%;
  width: 100%;
}

.embed-internal-fundsection>div:first-of-type>p:nth-of-type(2) {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.embed-internal-fundsection>div:nth-of-type(2) {
  padding: 32px;
  margin: auto;
  max-width: 800px;
}

#call-for-content +.columns .caption {
  position: relative;
  margin-top: -2em;
  text-align: left;
}

@media (max-width: 640px) {
  .embed-internal-fundsection>div:nth-of-type(2) {
    padding: 0px;
    margin: auto;
    max-width: 800px;
    padding-top: 0px;
    padding-bottom: 64px;
  }

  .embed-internal-fundsection h2 {
    font-size: 24px;
  }
  .embed-internal-fundsection >div:nth-of-type(2) p {
    font-size: 14px;
    line-height: 18px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
  .embed-internal-fundsection>div:first-of-type>p:nth-of-type(2) {
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
}

@media (min-width: 900px) {
  .embed-internal-fundsection picture {
    max-height: 600px;
  }
}

.embed-internal-fundsection>div:nth-of-type(2) {
  padding: 2.5em 0 6em 0;
}



/* getfunded embed */

.embed-internal-submitandgetfunded h3#contact-us {
  display: none;
}

.embed-internal-submitandgetfunded #contact-us > p {
  color: black;
  font-size: 11px;
  line-height: 16px;
  max-width: 600px;
  margin: auto;
}

.embed-internal-submitandgetfunded #contact-us > p a:any-link {
  display: inline;
  color: black;
}

.embed-internal-submitandgetfunded {
  margin-top: 7em;
  padding: 1em;
  color: white;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(./media_129787ec36518fdc9519e56bfad5abecdff569bf7.jpeg);
}

.embed-internal-submitandgetfunded a:any-link {
  color: white;
}

.embed-internal-submitandgetfunded .columns {
  max-width: 600px;
  margin: auto;
}

.embed-internal-submitandgetfunded .columns .text p {
  text-align: center;
  line-height: 2.9rem;
}

.embed-internal-submitandgetfunded .columns .text {
  padding: 2em 0;
  margin-top: 0;
}

.embed-internal-submitandgetfunded .icon {
  fill: currentColor;
  width: 2em;
  height: 2em;
  display: inline-block;
  margin: 10px;
}

.embed-internal-submitandgetfunded h2 {
  color: #3e1bb2;
  margin-bottom: 0;
}

.embed-internal-submitandgetfunded a.button.primary {
    background-color: #3e1bb2;
    border-color: #3e1bb2;
}

.embed-internal-submitandgetfunded img.stock-advocates {
  min-width: 200px;
  width: 30%;
  max-width: 400px;
}

.embed-internal-meettheartists {
  background-color: #2D0A4D;
  color: white;
  padding-bottom: 3em;
  padding-top: 3em;
}

.embed-internal-meettheartists .grid.meetgrid {
  padding-top: 2em;
  padding-bottom: 2em;
}

.embed-internal-partners {
  padding-top: 2em;
}

.embed-internal-meettheartists .grid div:hover  {
  opacity: 1;
}

.embed-internal-meettheartists h2, .embed-internal-partners h2 {
  padding-top: 2em; margin-top: 0;
}

.embed-internal-meettheartists h2,
.embed-internal-meettheartists p {
  padding-left: 18px;
  padding-right: 18px;
}

.embed-internal-meettheartists .grid.meetgrid p {
  padding: 0;
}

.embed-internal-partners  {
  color: white;
  padding-bottom: 3em;
}

.embed-internal-partners a {
  opacity: 0;
}

main .section-wrapper:first-of-type p {
  font-size: 20px;
  color: #fff;
}

header img {
  opacity: 1;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 43px;
}

.grid h4, .grid h3.h4 .grid p {
  margin: 0;
}

.grid > div {
  width: 50%;
  position: relative;
}

.grid.partners > div:after,
.grid.briefs > div:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

h4#what-is-the-fund-for {
  font-weight: 600;
}

.grid:not(.meetgrid) > div > div {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 10px;
  cursor: pointer;
}

.grid.meetgrid {
  text-align: left;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.grid:not(.meetgrid) div.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.grid.meetgrid div.text {
  color: white;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.grid.meetgrid div.text h4,
.grid.meetgrid div.text h3.h4 {
  font-size: 19px;
  line-height: 34px;
  margin-bottom: 0;
}

.grid.meetgrid div.text p {
  margin-bottom: 0
}

.grid.meetgrid div.text p:not(:first-child) {
  margin-top: 0
}

.grid:not(.meetgrid) div.text h4,
.grid:not(.meetgrid) div.text h3.h4 {
  line-height: 1em;
  font-style: italic;
  padding: 3px;
  font-size: 1.5em;
}

.grid div.text a:any-link {
    color: white;
}

body.artist-bio .grid:not(.meetgrid) a:any-link {
  opacity: 0;
}

body.artist-bio .grid a:hover  {
  opacity: 0.9;
}

body.artist-bio h5  {
  font-size: 34px;
  line-height: 54px;
  font-weight: 300;
}

body.artist-bio .columns h5 a:any-link {
  color: black;
}

body.artist-bio .columns h5 a svg {
  vertical-align: middle;
}

body.artist-bio .columns h5 a svg {
  height: 30px;
  width: 90px;
  vertical-align: middle;
}

body.artist-bio .columns h5 a:nth-child(2) svg {
  width: 40px;
  height: 30px;
}

body.artist-bio h6 {
  font-size: 30px;
  color: #323232;
  font-weight: 300;
}

.grid:not(.meetgrid) img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#meet-the-artists {
  font-size: 45px;
  line-height: 53px;
}

#meet-the-artists + p {
  font-size: 25px;
  line-height: 45px;
}

body.artist-bio .grid:not(.meetgrid) {
  margin-bottom: 0;
}

body.artist-bio .grid:not(.meetgrid) + p {
  margin-top: 0;
  margin-bottom: 2em;
}

body.artist-bio .grid:not(.meetgrid) + p a {
  margin-top: 1em;
}

.grid.meetgrid img {
  padding: 8px;
  cursor: pointer;
}

.grid.meetgrid .text {
  padding: 8px;
  font-size: smaller;
}

.grid.meetgrid > div {
  width: 100%;
  padding-bottom: 2em;
}

body.artist-bio  .grid:not(.meetgrid)>div {
  width: calc(100%);
}

@media (min-width:600px) {
  .grid>div, .grid.meetgrid>div {
    width: calc(100%/3);
  }
}

@media (min-width:900px) {
  .grid>div, .grid.meetgrid>div {
    width: calc(100%/4);
  }

  body.artist-bio  .grid:not(.meetgrid)>div {
    width: calc(100%/3);
  }

  .grid:not(.meetgrid) div.text {
    opacity: 0;
  }

  .grid:not(.meetgrid) div.text:hover, .grid div.text:focus-within {
    opacity: 1;
  }
}

.embed-internal-partners .text h5
.embed-internal-partners .text h3.h5 {
  z-index: 15;
  opacity: 1;
}


@media (min-width: 599px) {
  .embed-internal-partners .text h3.h5 {
    margin-top: -140px;
    white-space: nowrap;
  }
}

@media (min-width: 1000px) {
  .embed-internal-partners .text h3.h5 {
    margin-top: -190px;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .embed-internal-partners .text h3.h5 {
    margin-top: -180px;
    font-size: 15px;
    white-space: nowrap;
  }
}

@media (max-width: 500px) {
  .embed-internal-partners .text h3.h5 {
    margin-top: -120px;
  }
}

@media (max-width: 400px) {
  .embed-internal-partners .text h3.h5 {
    margin-top: -75px;
  }
}

.embed-internal-partners .grid div.text  {
  opacity: 1;
}

.embed-internal-partners .grid div:hover  {
  opacity: 0.8;
}

.embed-internal-partners .grid>div {
  padding: 20px;
}

.embed-internal-partners .grid img {
  object-fit: scale-down;
  position: relative;
  max-width: 80%;
}

/* Columns */

body.artist-bio .columns h2:not(.h4) {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-align: left;
  padding: 0;
  margin-top: 0;
}

body.artist-bio .columns h3 {
  font-size: 28px;
  line-height: 45px;
  font-weight: 300;
  text-align: left;
  padding: 0;
}

@media (min-width: 600px) {

  body.artist-bio .columns h2:not(.h4) {
    font-size: 54px;
    line-height: 75px;
    font-weight: 300;
    text-align: center;
  }

  body:not(.artist-bio) .columns h3,
  body:not(.artist-bio) .columns h2:not(.h4) {
    font-size: 54px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 2rem;
  }

  body.artist-bio .columns h3 {
    text-align: left;
    font-size: 35px;
    line-height: 45px;
  }

  #contact-us .columns h3 {
    text-align: center;
    font-size: 25px;
  }

  .padded h3 {
    font-weight: normal;
  }

  body.artist-bio .columns h2:not(.h4) {
    text-align: left;
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
    margin-top: 2.5em;
  }
}

body.artist-bio  .grid.artistcollage {
  padding: unset;
  margin-left: 2vw;
  margin-right: 2vw;
}

body.artist-bio .grid.artistcollage {
  margin-top: 2em;
  margin-bottom: 1rem;
}

body.artist-bio  .grid.artistcollage > div > div.text {
  display: none;
}

body.artist-bio .grid.artistcollage div {
  padding: 0;
  margin: 0;
}

body.artist-bio .grid.artistcollage > div {
  flex: 1 0 auto;
  margin: 0 0.5vw 0.5vw 0;
}

body.artist-bio .grid.artistcollage > div:nth-child(3),
body.artist-bio .grid.artistcollage > div:nth-child(6),
body.artist-bio .grid.artistcollage > div:nth-child(9) {
  margin: 0 0 0.5vw 0;
}

body.artist-bio .grid.artistcollage > div:nth-child(1),
body.artist-bio .grid.artistcollage > div:nth-child(2),
body.artist-bio .grid.artistcollage > div:nth-child(3),
body.artist-bio .grid.artistcollage > div:nth-child(7),
body.artist-bio .grid.artistcollage > div:nth-child(8),
body.artist-bio .grid.artistcollage > div:nth-child(9) {
  width: calc(100vw / 3.4);
  height: calc((100vw / 3.4) * 0.7);
}

body.artist-bio .grid.artistcollage > div:nth-child(5),
body.artist-bio .grid.artistcollage > div:nth-child(6) {
  width: calc((100vw / 6) * 2);
  height: calc((100vw / 6) * 2 * 0.7);
}

body.artist-bio .grid.artistcollage > div:nth-child(4) {
  width: calc(100vw / 12);
  height: calc((100vw / 12) * 2 * 1.4);
}

main a:any-link.artist-stock-link {
  color:white;
  font-weight: normal;
  text-decoration: underline;
  font-size: 16px;
}

.columns h2 strong {
  display: block;
}

.columns h3 strong {
  display: block;
}

.columns h4,
.columns h2.h4 {
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
}

.columns h5 {
  font-size: 20px;
}

.columns > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.columns>div>div {
  width: 100%;
  position: relative;
}

@media (min-width: 900px) {
  .columns > div {
    flex-wrap: nowrap;
  }
  .columns>div>div {
    width: 50%;
  }
}
.columns>div.white2>div {
  height: 540px;
}

.columns>div.white2>div:nth-of-type(2) {
  background-color: white;
  color: black;
}

.columns .text a.button {
  display: inline-block;
  margin-top: 5px;
}

.columns>div.white2>div:nth-of-type(2) a.button {
  color: black;
  border-color: black;
}

main .columns ul {
  text-align: left;
  display: block;
}

.columns>div>div.merged {
    width: 100%;
}

.columns>div.padded>div.image img {
  padding: 40px 40px 100px 40px;
}

.columns>div.padded>div.image p.caption {
  color: black;
  text-align: left;
  font-size: 0.8rem;
  /*left: 40px;
  padding-right: 40px; */
  line-height: 1.2em;
  padding-bottom: 1.5em;
  position: relative;
  margin-top: -5em;
  text-align: center;
  bottom: unset;
  left: unset;
}

.columns>div>div.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.columns>div.padded>div.image img {
  object-fit: contain;
  height: auto;
  object-position: top; 
}

.columns>div.padded>div.image .image-bleed {
  height: auto;
}

.columns>div>div.image p:empty {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.columns>div>div.image p.image-bleed {
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 100%
}

.columns>div>div.image p.caption {
    position: absolute;
    color: white;
    bottom: 1em;
    left: 1em;
}


.columns .text {
    padding: 3rem 2em;
    margin: auto;
}

.columns .text p {
  text-align: left;
}

body.artist-bio .columns .text h5 {
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 10px 16px;
  flex-wrap: wrap;
}

body.artist-bio .columns .text h5 svg {
  max-width: 75px;
  max-height: 24px;
}

body.artist-bio .columns .text h5 {
  line-height: 1;
}

@media (min-width: 1000px) {
  body.artist-bio .columns .text h5 {
    font-size: 25px;
    justify-content: flex-start;
  }

  body.artist-bio .columns .text h5 svg {
    max-width: 100px;
    max-height: 24px;
  }
}

@media (min-width: 600px) {
  body:not(.artist-bio) .columns .text p {
    text-align: left;
  }

  body:not(.artist-bio) .columns .text h3 {
    margin-bottom: 1.5rem;
  }

  body:not(.artist-bio) .columns .text h3 ~ p {
    text-align: center;
    margin: 1.5rem 0;
    font-weight: 400;
  }

  body .embed-internal-submitandgetfunded .columns .text p {
    text-align: center;
  }

  body.artist-development-fund .columns .text p {
    text-align: left;
  }
  body.artist-development-fund .embed-internal-submitandgetfunded .columns .text p {
    text-align: center;
  }
}

.columns .text table {
  display: inline-block;
}
.columns .text table th {
  padding: 2px;
}

.columns .text table th p {
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width:900px) {
  .columns .text {
    padding: 3rem 1rem;
    margin: auto;
    max-width: 36rem;
  }

  .columns .text p {
    font-size: 1rem;
    line-height: 1.9rem;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    font-weight: 200;
  }

  body .columns .text p.button-container {
    text-align: center;
  }

  body.artist-bio .columns .text {
    padding: 0 3rem;
  }

  body.artist-bio .columns .text p {
    padding: 0;
  }
}

.embed-internal-submitandgetfunded .columns > div{
  flex-wrap: wrap;
}

.embed-internal-submitandgetfunded .columns>div>div {
  width: 50%;
}

@media (max-width: 599px) {
  .embed-internal-submitandgetfunded .columns>div>div {
    width: 100%;
  }
  .embed-internal-submitandgetfunded .columns .text,
  .embed-internal-submitandgetfunded .columns .text p {
    margin: 0;
    padding-top: 0;
  }
}


/*  Parallax */

.parallax {
    position: relative;
}

.parallax>div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    }

.parallax>div img {
    width: 100%;
}

.parallax>div:last-of-type {
    position: relative;
    padding: 6rem 0 12rem 0;
    width: 80%;
    max-width: 700px;
    margin: auto;
}

@media (min-width:600px) {
    .parallax>div {
        bottom: unset;
        top: 0;
        left: 0;
        width: 100%;
        }

      .parallax>div:last-of-type {
          padding: 6rem 0 24rem 0;
      }
}

/* video */

main div.video-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 1em 0 6em 0;
}

main div.video-container div {
  width: 100%;
  padding: 0;
  margin: 0;
}

main div.video-container .video {
  width: 100%;
}

main div.block.video {
  visibility: unset;
}

@media (max-width: 699px) {
  main div.hero-carousel-container ~ div.video-container + .columns-container .image p {
    margin-top: 0;
  }
}

main .columns .image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  Hero Carousel */

  main>div.section-wrapper .hero-carousel {
    position: relative;
    padding-top: 100%;
    height: 65vh;
    min-height: 475px;
    perspective: 100px;
    width: 100%;
  }

  @media (min-width:1000px) {
    main>div.section-wrapper .hero-carousel {
      padding-top: 100vh;
    }
  }



  .hero-carousel-container {
      position: relative;
  }

  .hero-carousel-overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      color: white;
      line-height: 1em;
      pointer-events: none;
      height: 65vh;
      min-height: 475px;
  }

  @media (min-width:1000px) {
    .hero-carousel-overlay {
      height: 100vh;
    }
  }

  .hero-carousel-overlay h1 {
    padding-top: 1em;
    font-size: 4em;
    line-height: 0.7em;
  }

  .hero-carousel-overlay img.stock-advocates {
    min-width: 300px;
    width: 50%;
    max-width: 500px;
  }

  main .section-wrapper .hero-carousel-overlay>p {
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 36px;
    font-weight: 100;
    line-height: 45px;
  }


  .hero-carousel-overlay .eyebrow {
    font-size: 0.6em;
    font-weight: 300;
    line-height: 1em;
    display: block;
  }

  .hero-carousel-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

  }

  .hero-carousel-viewport::-webkit-scrollbar {
    display: none;
  }

  .hero-carousel-slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
    font-size: 1.5em;
  }

  .hero-carousel-slide div:nth-of-type(1){
      height: 100%;
  }
    .hero-carousel-slide div:nth-of-type(1) img{
        height: 100%;
        width: 100%;
      object-fit: cover;
      object-position: center center;
}
    .hero-carousel-slide div:nth-of-type(2){
      position: absolute;
      bottom: 10px;
      left: 48px;
      color: white;
      font-size: 19px;
      line-height: 24px;
      font-weight: 100;
  }

  .hero-carousel-slide:nth-child(even) {
    background-color: #99f;
  }

  .hero-carousel-slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }

  .hero-carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* (01/25/22): scrolling to anchors on embeds now works correctly */
    scroll-snap-align: center;
  }

  @media (hover: hover) {
    .hero-carousel-snapper {
      animation-name: none;
      /* animation-name: hero-carousel-tonext, hero-carousel-snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      */
    }

    .hero-carousel-slide:last-child .hero-carousel-snapper {
      animation-name: hero-carousel-tostart, hero-carousel-snap;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .hero-carousel-snapper {
      animation-name: none;
    }
  }

  .hero-carousel:hover .hero-carousel-snapper,
  .hero-carousel:focus-within .hero-carousel-snapper {
    animation-name: none;
  }

  .hero-carousel-navigation {
    position: absolute;
    right: 0;
    bottom: 38px;
    left: 0;
    text-align: center;
  }

  .hero-carousel-navigation-list,
  .hero-carousel-navigation-item {
    display: inline-block;
  }

  .hero-carousel-navigation-button {
    display: inline-block;
    width: 1.0rem;
    height: 1.0rem;
    background-color: #ddd;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }

  .hero-carousel::before,
  .hero-carousel::after,
  .hero-carousel-prev,
  .hero-carousel-next {
    position: absolute;
    top: 0;
    margin-top: 37.5vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  @media screen and (max-width: 450px) and (max-height: 800px) {
    .hero-carousel::before,
    .hero-carousel::after,
    .hero-carousel-prev,
    .hero-carousel-next {
      margin-top: 55%;
    }
  }

  .hero-carousel::before,
  .hero-carousel-prev {
    left: 0;
  }

  .hero-carousel::after,
  .hero-carousel-next {
    right: 0;
  }

  .hero-carousel::before,
  .hero-carousel::after {
    content: '';
    z-index: 3;
    background-color: transparent;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    opacity: 1;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }

  .hero-carousel::before {
    background-image: url('backward.svg');
    transform: scaleX(1);
  }

  .hero-carousel::after {
    background-image: url('backward.svg');
    transform: scaleX(-1);

  }



@keyframes hero-carousel-tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes hero-carousel-tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes hero-carousel-snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
