main .section-wrapper:first-of-type.breadcrumbs-container {
    margin-top: var(--header-height);
}

main .section-wrapper:first-of-type.breadcrumbs-container > div > :first-child:not(.breadcrumbs) {
    margin-top: var(--header-height);
    padding-top: var(--section-spacing);
}

main .section-wrapper:first-of-type.breadcrumbs-container .breadcrumbs:first-child {
    margin-top: 0;
}

main .section-wrapper:last-of-type.breadcrumbs-container .breadcrumbs:last-child {
    margin-bottom: 0;
}

main .section-wrapper.breadcrumbs-container {
    padding: 0 var(--gutter);
    overflow: hidden;
}

main .section-wrapper.breadcrumbs-container > div {
    max-width: none;
    padding: 0;
}

main .section-wrapper.breadcrumbs-container > div > :not(.breadcrumbs) {
    max-width: var(--max-width-block);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 799px) {
    main .section-wrapper.breadcrumbs-container > div > :not(.breadcrumbs) {
        max-width: var(--max-width-mobile);
    }
    main .section-wrapper.breadcrumbs-container {
        padding: 0 0 0 18px;
    }
}

main .breadcrumbs {
    padding: 5px 0 4px 0;
    margin: var(--section-spacing) auto;
    max-width: 1440px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

main .breadcrumbs div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

main .breadcrumbs div:last-child {
    min-width: 0;
    text-overflow: ellipsis;
}

main .breadcrumbs .icon {
    min-height: 40px;
}

main .breadcrumbs p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

main .breadcrumbs p:first-child {
    margin-left: 4px;
}

main .breadcrumbs p,
main .breadcrumbs a {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    text-decoration: none;
}

main .breadcrumbs a:hover {
    text-decoration: underline;
}

main .breadcrumbs > div > div:not(:first-child):before {
    content: '/';
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    margin-right: 6px;
}