main {
    text-align: center;
    opacity: 1;
    font-size: 20px;
    color: black;
}

main img, main video {
    max-width: 100%;
}

main h1 {
    font-size: 36px;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

main .steps {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 1100px;
}

main .card {
    width: 315px;
    margin: 15px;
    height: 460px;
}

main .card .text {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 24px;
    text-align: left;
    height: 320px;
    box-sizing: border-box;
}

main .card h4 {
    font-size: 20px;
    margin: 0;
}

main .card p {
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
}

main .card .text>div {
    height: 210px;
    box-sizing: border-box;
} 

main .card .img {
    height: 140px;
    background-size: cover;
    box-sizing: border-box;
}

main .card a:any-link {
    border: 2px solid currentColor;
    border-radius: 20px;
    padding: 7px 20px;
    text-decoration: none;
    color: currentColor;
    font-weight: 800;
    display: inline-block;
    font-size: 14px;
}

.step main .content {
    background: #282828;
    color: white;
}

.step main div.content a:any-link {
    border-radius: 20px;
    background-color: #1473e6;
    padding: 7px 20px;
    text-decoration: none;
    color: currentColor;
    font-weight: 800;
    display: inline-block;
    font-size: 14px;
}

.step main .content .video {
    max-width: 854px;
    margin: auto;
    line-height: 0;
    background-size: cover;
}

.step main .content .video .button {
    padding-top: 56.24%;
    background-size: cover;
    position: relative;
}

.step main .content .video .button svg {
    background-color: #1473e6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.step main .video-wrapper {
    background-image: url(/static/twp3/step-bg.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 26px;
    width: 310px;
    margin: auto;

}

.step main .skills {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.step main .skill {
    margin: 12px;
    max-width: 180px;
}

.step main .skills img {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
}

.step main .progress>p:first-of-type {
    margin-bottom: 50px
}

.step main .progress-bar {
    margin-top: 30px;
    border-top: grey 2px solid;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    width: 70%;
    margin: auto;
    padding: 0;
}

.step main .progress-bar > div {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border: grey 2px solid;
    background-color: white;
    margin-top: -10px;
}

.step main .progress-bar > div.active {
    background-color: #1473e6;
    width: 20px;
    height: 20px;
    border: none;
}

.step main .upnext {
    max-width: 600px;
    margin: auto;
}

.step main .upnext .window {
    padding-top: 19px;
    padding-left: 1px;
    box-sizing: border-box;
    background-image: url(/static/twp3/window.jpg);
    background-size: cover;
    margin: auto;
    width: 360px;
    height: 303px;
}

.step main .upnext .window img {
    width: 343px;
    height: 278px;
    object-fit: cover;

}



main svg {
    fill: currentColor;
}



@media (min-width:900px) {
    main h1 {
        font-size: 48px;
    }

    main {
        font-size: 24px;
    }

    .step main .video-wrapper {
        width: 544px;
        padding: 120px;
        padding-left: 119px;
        padding-top: 98px;
        background-image: url(/static/twp3/step-desktop-bg.jpg);
    }    
}