@import url("../default.css");

header>div {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

header>div:first-of-type {
  background-color: unset;
} 

header p:first-of-type {
  margin: 0;
}

header svg {
  width: 50px;
  height: 50px;
}

#npsForm div:first-of-type {
  padding-bottom: 1em;
}

#npsForm div:first-of-type > div {
  display: flex;
  justify-content: center;
}

#npsForm div:first-of-type button {
  margin-right: 10px;
}

#npsForm div:first-of-type button:last-of-type {
  margin-right: 0px;
}

#npsForm div:nth-child(2) {
  padding-bottom: 1em;
}

#npsForm textarea {
  max-width: 700px;
  margin-bottom: 1em;
}

#npsForm input[type="submit"] {
  margin-top: 2em;
  -webkit-appearance: none;
  outline: none;
  background: #1473e6;
  border-color: #1473e6;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  min-height: 32px;
  height: auto;
  min-width: 72px;
  padding: 4px 14px;
  padding-bottom: 4.5px;
  padding-top: 3.5px;
  font-size: 14px;
  font-weight: 700;
  transition: background .13s ease-out,border-color .13s ease-out,color .13s ease-out,box-shadow .13s ease-out;
}

#npsForm input[type="submit"]:hover {
  background-color: #0d66d0;
  border-color: #0d66d0;
  color: #fff;
}