@import url("../default.css");


header>div {
  display: flex;
  justify-content: center;
  padding-top:2em;
}


header>div:first-of-type {
  background-color: unset;
} 

header p:first-of-type {
  margin: 0;
  padding-top: 2em;
}


header .icon {
  width: 40px;
  height: 40px;
}

#npsForm div:first-of-type {
  padding-bottom: 1em;
}

#npsForm div:first-of-type > div {
  display: flex;
  justify-content: center;
}

#npsForm div:first-of-type button {
  margin-right: 1px;
}

#npsForm div:first-of-type button:last-of-type {
  margin-right: 0px;
}

#npsForm div:nth-child(2) {
  padding-bottom: 1em;
}

#npsForm textarea {
  width: calc(100% - 20px);
  max-width: 700px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 1em;
}

#npsForm textarea:focus {
  outline-color: #1473e6;
}

#npsForm input[type="submit"] {
  margin-top: 2em;
  -webkit-appearance: none;
  outline: none;
  background: #1473e6;
  border-color: #1473e6;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  min-height: 32px;
  height: auto;
  min-width: 72px;
  padding: 4px 14px;
  padding-bottom: 4.5px;
  padding-top: 3.5px;
  font-size: 14px;
  font-weight: 700;
  transition: background .13s ease-out,border-color .13s ease-out,color .13s ease-out,box-shadow .13s ease-out;
}

#canAdobeContact {
  border: 1px solid #aaa;
  background-color: transparent;
  border-radius: 0px;
  background-color: none;
  box-shadow: none;
  outline: none;
}

#canAdobeContact:checked {
  color: #000;
  background-color: #000;
}

.button-group {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  /* flex-wrap: wrap; */
}



#npsForm input[type="submit"]:hover {
  background-color: #0d66d0;
  border-color: #0d66d0;
  color: #fff;
}

@media(max-width: 600px) {
  .feedback h1 {
    font-size: 25px;
  }


  .button-group button {
    margin-bottom: 1em;
  }

  .npsScaleButton {
    -webkit-appearance: none;
  }
}