
header {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 200;
    text-align: center;
    height: 65px;
    overflow: visible;
}

header:empty {
    position: static;
}

body header:empty + main,
body header:empty + main .section-wrapper:first-of-type {
    margin-top: 0;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
}

.header {
    display: none;
    height: 0px;
    overflow: hidden;
}

header.appear .header {
    display: flex;
    height: 100%;
    overflow: unset;
}

header .header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--gutter);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .header-right,
header .header-left,
header .header-right > div,
header .header-left > div,
header p,
header a,
header ul,
header li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

header .header img {
    height: 26px;
    width: auto;
    margin: 0;
}

header .header p a {
    padding: 0 4px;
}

header .header p {
    padding: 4px 0;
    box-sizing: border-box;
}

header .header > div > div {
    display: flex;
    align-items: center;
}

header .header-hamburger {
    display: none;
    height: 100%;
    width: 65px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    color: #2d2d2d;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    box-sizing: border-box;
}

header .header-hamburger:before {
    content: "\2630";
}

header .header-hamburger[aria-expanded=true]:before {
    content: "\2715";
}

header .header-left-top {
    z-index: 199;
}

.menu-open-background {
    height: 200vh;
    width: 200vw;
    position: fixed;
    top: -2px;
    left: -2px;
    background: #000;
    opacity: 0.5;
    z-index: 19;
    display: none;
}

.menu-open {
    overflow: hidden;
}

header .header .header-left-nav > div {
    height: 100%;
    display: flex;
}

header li {
    box-sizing: border-box;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

header .header .header-left-nav > div > ul {
    list-style-type: none;
    user-select: none;
}

header .header-left-nav > div > ul > li:first-child {
    margin-left: 20px;
}

header .header-left-nav > div > ul li,
header .header-left-nav > div > ul li a {
    justify-content: center;
    color: #2c2c2c;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color .1s ease;
    cursor: default;
}

header .header-left-nav > div > ul li a {
    width: 100%;
    width: calc(100% + 36px);
    min-width: calc(100% + 36px);
    text-align: center;
    cursor: pointer;
}

header .header .header-left-nav > div > ul > li > ul {
    display: block;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-top: 1px solid #EFEFEF;
    flex-direction: column;
    height: auto;
    width: auto;
    display: none;
    padding: 18px 0;
}

header a:focus-visible, header button:focus-visible {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #109cde;
}

header .has-dropdown {
    padding-right: 28px;
}

header .chevron {
    position: absolute;
    top: 20px;
    right: 8px;
    padding: 6px 4px;
    margin: 0;
    background: transparent;
    border: none;
    z-index: 2;
}

header .chevron svg {
    height: 10px;
    width: 10px;
    transition: transform 0.1s;
}

header .dropdown-open svg {
    transform: rotate(180deg);
}

@media screen and (min-width: 901px) {
    header .header-left-nav > div > ul li:hover,
    header .header-left-nav > div > ul li:focus {
        background-color: #FAFAFA;
    }

    header .header .header-left-nav > div > ul > li > ul > li {
        padding: 4px 18px;
        min-width: 150px;
        display: block;
        width: auto;
        white-space: nowrap;
    }

    header .header .header-left-nav > div > ul > li > ul > li > a {
        padding: 4px 18px;
        margin-left: -18px;
        justify-content: flex-start;
    }

    header .header .header-left-nav > div > ul > li > ul > li:hover,
    header .header .header-left-nav > div > ul > li > ul > li:hover a,
    header .header .header-left-nav > div > ul > li > ul > li:focus,
    header .header .header-left-nav > div > ul > li > ul > li:focus a {
        color: var(--color-info-accent);
    }

    header .header .header-left-nav > div > ul > li.dropdown-open > ul {
        display: block;
    }
    
    header .has-dropdown.dropdown-open {
        background-color: #FAFAFA;
    }

    header .active-page {
        border-bottom: 2px solid #4B4B4B;
        border-top: 2px solid transparent;
    }
}

@media screen and (max-width: 900px) {
    header .chevron {
        top: 13px;
        cursor: pointer;
    }

    header {
        text-align: left;
    }
    
    .menu-open header ~ .menu-open-background {
        display: block;
    }

    header .header-hamburger {
        display: block;
    }

    header .header .header-left-top {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 64px;
    }

    header .header .header-left-nav {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        height: 200vh;
        width: calc(100% - 20px);
        background-color: #FAFAFA;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid var(--color-white);
        padding-top: 1px;
    }
    
    header .header .header-hamburger[aria-expanded=true] ~ .header-left-nav {
        display: flex;
    }

    header .header .header-left-nav div {
        height: auto;
    }

    .menu-open header .header .header-left-nav {
        display: flex;
    }
    
    header .header .header-left-nav p {
        height: auto;
    }

    header .header .header-left-nav > div {
        height: 100%;
        width: 100%;
        max-height: calc(100vh - 64px);
        overflow-y: auto;
        align-items: flex-start;
    }

    header .header .header-left-nav > div > ul {
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    header .header-left-nav > div > ul > li:first-child {
        margin-left: unset;
    }

    header .header-left-nav > div > ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        min-height: 52px;
        height: auto;
        box-sizing: border-box;
        padding: 0 35px 0 20px;
        border-bottom: 1px solid #f3f3f3;
        text-align: left;
        position: relative;
    }

    
    .dropdown-open {
        border-left: 2px solid #2c2c2c; 
    }

    .dropdown-open:not(.dropdown-has-link) {
        padding-top: 16px
    }

    .dropdown-open:not(.dropdown-has-link) > ul {
        margin-top: 16px;
    }

    header .header-left-nav > div > ul li a {
        width: 100%;
        min-width: calc(100% + 20px + 35px);
        box-sizing: border-box;
        height: 52px;
        justify-content: flex-start;
        padding: 0 35px 0 20px;
        margin-left: -20px;
        text-align: left;
    }
    
    header .header .header-left-nav > div > ul > li > ul {
        display: flex;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        min-width: calc(100% + 20px + 35px);
        margin-left: -20px;
        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #f3f3f3;
        border: 0;
        border-bottom: 1px solid #EAEAEA;
        border-top: 1px solid #EAEAEA;
    }
    
    header .header .header-left-nav > div > ul > li > ul > li {
        padding: 0 35px;
        border: none;
        min-height: 46px;
        height: 46px;
    }
    
    header .header .header-left-nav > div > ul > li > ul > li > a {
        padding: 0 35px;
        min-width: calc(100% + 35px + 35px);
        margin-left: -35px;
        min-height: 46px;
        height: 46px;
    }

    header .header .header-left-nav > div > ul > li > ul {
        display: none;
    }

    header .header .header-left-nav > div > ul > li.dropdown-open > ul {
        display: flex;
    }

    header .chevron {
        width: 15vw;
        height: 52px;
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 18px;
    }

    header .has-dropdown.dropdown-has-link > a:not(a[href="#"]) {
        width: 80vw;
        min-width: 80vw;
    }
}

header .has-dropdown > a[href="#"] + .chevron,
header .has-dropdown:not(.dropdown-has-link) .chevron {
    width: 100%;
    text-align: right;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 13px;
    padding-top: 7px;
}

@media screen and (max-width: 900px) {
    header .has-dropdown > a[href="#"] + .chevron,
    header .has-dropdown:not(.dropdown-has-link) .chevron {
        height: 52px;
    }    
    
    header .has-dropdown > a[href="#"] + .chevron,
    header .has-dropdown:not(.dropdown-has-link) .chevron {
        padding-right: 18px;
    }
}


@media screen and (min-width: 901px) and (max-width: 1200px) {
    header .header-left-nav > div > ul li,
    header .header-left-nav > div > ul li a {
        font-size: 12.5px;
    }

    header .header img {
        height: 20px;
    }

    header .header-left-nav > div > ul > li:first-child {
        margin-left: 12px;
    }

    header li {    
        padding-left: 14px;
        padding-right: 14px;
    }
    
    header .has-dropdown {
        padding-right: 24px;
    }
    
    header .header-left-nav > div > ul li a {
        width: calc(100% + 28px);
        min-width: calc(100% + 28px);
    }
    
    header .chevron {
        right: 5px;
        top: 19px;
    }

    header .chevron svg {
        height: 9px;
        width: 9px;
    }

    header .has-dropdown > a[href="#"] + .chevron, header .has-dropdown:not(.dropdown-has-link) .chevron {
        padding-right: 9px;
        padding-top: 6px;
    }
}