.header-container {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.header ul {
    display: flex;
    list-style-type: none;
}
.header ul li {
    margin: 0 4px;
}

.header img {
    height: 26px;
    width: auto;
    margin: 0;
}

.header p {
    margin: 0;
}