/* probably fix this later by copying from somewhere else */
.header-container,
.header-container > div,
.header,
.header > div,
.header > div > div {
    height: 100%;
    width: 100%;
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header ul li {
    margin: 0 4px;
}

.header img {
    height: 26px;
    width: auto;
    margin: 0;
}

.header p {
    margin: 0;
}

.header > div > div {
    display: flex;
    align-items: center;
}
